<p>
  <span style="color:#ff0000;">NOTE: THIS IS NOT AN IMPORTANT STEP TO WORKING WITH GIT!</span> This is for people who don't like having to key in their username and password when using git.
</p>

<p>
  Now we want to set up SSH to be able to access our remote repository without a password. First thing's first, there are two notable ways to go about this:
</p>

<ul>
  <li>OpenSSH (<i>I suggest this one, yes, it uses the command-line but it's only 3 lines of code...</i>)</li>
  <li>PLink (<i>No command-line involved, but still tricky, not worth the effort in my opinion</i>)</li>
</ul>

<h2>OpenSSH</h2>

<p>
  If you followed my guide, <a routerLink="../../cli/getting-started">Getting Started with Git CLI for windows (Git Bash)</a>, then we can simply re-use the SSH key that was generated there. To do this, simply right-click anywhere on your desktop to bring up the TortoiseGit options, from which you want to go to <i>settings. </i>Once there, you simply need to go to <i>Network </i>and change the SSH file to use <i>ssh.exe </i>instead of PLink. <i>ssh.exe </i>can usually be found in Git's install directory under <i>C:\Program Files\Git\usr\bin\ssh.exe</i>.
</p>

<p><img src="assets/images/git/tortoise/ssh/tortoisenetwork.gif"/></p>

<h2>PLink</h2>

<p>
  If you did not follow my guide, <a routerLink="../../cli/getting-started">Getting Started with Git CLI for windows (Git Bash)</a> and do not want to, well... fair enough, there is another way to get SSH access without using the fancy-schmancy command-line, and here it is (I actually feel this way is MORE complicated). I feel it's my responsibility to tell you that I hate this method so much, I would rather not even mention it, however, what if you are in some rare circumstances where the above guide on OpenSSH is not an option for you... I have no idea what this situation might be... but.... what if?
</p>

<ol>
  <li>
    Make sure Tortoise Git is setup to use PLink by opening the settings (see the above gif) and changing the SSH Client to use TortoisePLink which you can usually find in <i>C:\Program Files\TortoiseGit\bin\TortoisePlink.exe. </i>
  </li>
  <li>
    Open <i>puttygen </i>which will generate your key for you. The fastest way to do this is to hit the window key and just type '<i>puttygen</i>' in to the search.
  </li>
  <li>
    When it opens, hit the generate button and follow the on-screen instruction to move your mouse randomly to generate a random key.
  </li>
  <li>
    Once your key is generated, copy the result, we'll use this later.
  </li>
  <li>
    <p>
      Save the private key to some place that makes sense to you. For me, it makes sense to keep this in the same folder where I keep all my projects. The whole process looks like this:
    </p>
    <p><img src="assets/images/git/tortoise/ssh/putty.gif"/></p>
  </li>
  <li>
    <p>
      Remember that we copied that key before. It needs to be pasted to GitLab. Go to GitLab and under <i>Profile Settings, </i>find <i>SSH Keys </i>and paste yours in. Remember to name it.
    </p>
    <p><img src="assets/images/git/tortoise/ssh/sshadd.gif"/></p>
  </li>
  <li>
    <p>
      We're not done just yet... seriously... the OpenSSH method is so much easier than this... remember the <i>Private Key </i>which we saved out from puttygen in step 5? Keep that in mind while we attempt to clone a project from GitLab. Browse to your project on GitLab and grab the SSH Address:
    </p>
    <p><img src="assets/images/git/tortoise/ssh/cloneaddress.jpg"/></p>
  </li>
  <li>
    <p>
      In windows, browse to whichever folder you want to hold all your projects in, and attempt to clone by right-clicking in that folder and selecting '<i>Git Clone</i>'.
    </p>
    <p><img src="assets/images/git/tortoise/ssh/clonetort.jpg"/></p>
  </li>
  <li>
    <p>
      In the prompt that appears, if you followed step 7, you should see Tortoise has auto-pasted that address in to the URL field. Your job is enable "Load Putty" and browse to find the <i>Private Key</i> you saved out in step 5:
    </p>
    <p><img src="assets/images/git/tortoise/ssh/loadputty.jpg"/></p>
  </li>
  <li>
    <p>
      Hit 'OK', your project will begin to clone, and you'll never have to set this up again.... ever... on this machine... From now on when you <i>Git Clone</i>, your clone window will have this setup by default.
    </p>
  </li>
</ol>