<p>
  A good UI tells you what you need to know, and then gets out of the way.
</p>

<p>
  Some questions to help:
</p>

<ul>
  <li>
    Does it tell me what I need to know right now?
  </li>
  <li>
    Is it easy to find the information, or do I have to look for it?
  </li>
  <li>
    Can I use this interface without instructions?
  </li>
  <li>
    Can I reduce the amount of choices or interactions?
  </li>
</ul>

<p>
  We need more references, but for now, here's a somewhat fulfilling <a href='https://nz.pinterest.com/nerealism/game-ui/'>pinterest page</a>.<br>
  Also, an article, they're a dime-a-dozen but <a href='https://www.gamasutra.com/view/news/289637/6_examples_of_UI_design_that_every_game_developer_should_study.php'>here's</a> at least one.
</p>

<p>
  UI is a more interesting topic since mobile gaming took off so strongly. We'd found plenty of ways to minimize UI for television-based consoles and computer screens, especially thanks to wide-screen displays and higher resolutions. Mobile gaming instigated a sortof set-back in this regard. We had less ways to interact off-screen seeing as we don't use a controller This meant at least 2 very important things:
</p>

<ol>
  <li>
    Every interaction we planned to have would be with our fingers to the screen.
  </li>
  <li>
    We needed users to know which part of the screen to place their fingers.
  </li>
</ol>

<p>
  In a way, we weren't new to having to think about this, a finger is a bit similar to a mouse. But even a mouse has more ways to discern between actions in ways that our software can understand.
</p>
  <ul>
  <li>
    A mouse can hover over objects without clicking on them. With touch, a hover is also a click.
  </li>
  <li>
    We can support an N<sup>th</sup> touch, but that is not the same as being able to right-click. Right-click is a secondary action at our current cursor location, whereas an N<sup>th</sup> touch is a new touch in it's own location.
  </li>
</ul>

<p>
  Hence, it was a similar scenario but different enough to require a lot of attention. To the user, the changes we've undergone could seem subtle which in most cases would be an underestimation at least... which is good. For all of our hard work, it wouldn't be paying off if the user didn't get something easy to use to do the job they want to do. Which brings us to an important point.
</p>

<p>
  UI is a way for our users to interact with our <b>system</b>. Our <b>system</b> should be the part that challenges them, not our UI, that part needs to be as simple as possible. Our games are ideas floating in virtual space, completely untouchable to our users without the interactions we allow. For touchscreens, those interactions are usually through UI. 
</p>

<p>
  Consider the 4 forms of UI under Bartle's taxonomy. What about our characters? Don't they provide feedback about the game state as well? Don't they also provide ways for us to interact with the game system? I would agree, everything is UI. Some UI is just more purpose-driven than others.
</p>

<p>
  There are different schools of thought on this. We could say that UI is defined by convention where we unanimously agree on what is solely implemented as a means to display information or act as an intermediary interaction between the player and our system.<br>
  We could alternatively agree to discern between <mark>system->system</mark> interactions and <mark>user->system</mark> interactions. Things that behave as tools for the user's interaction and nothing else would be UI, whereas things that interact in other ways would not, but may contain UI elements. I would prefer this definition because I personally feel it provides a better framework for explicitly defining a user interface. Either way: the philosophy will be locally embedded per project and per team.
</p>

<p>
  Here's an example of a game that underwent the porting process from console to mobile. Firstly we see larger buttons that our fingers can tap on. No need for a cursor anymore I would say, in this case it was kept to feedback the current selection to the player, why they didn't use a simple button-highlight is probably because the cursor finger is thematic to final fantasy, you just have to include it, because.
</p>

<p>
  <img class='img-sml' src="assets/images/design/ui-analysis/final-fantasy-ix-menu.jpg">
  <img class='img-sml' src="assets/images/design/ui-analysis/final-fantasy-ix-menu-mobile.jpg">
</p>

<p>
  <img class='img-sml' src="assets/images/design/ui-analysis/final-fantasy-ix-battle.jpg">
  <img class='img-sml' src="assets/images/design/ui-analysis/final-fantasy-ix-battle-mobile.jpg">
</p>

<p>
    Secondly we have extra UI introduced for things like our player movement controller.
</p>

<p>
  <img class='img-sml' src="assets/images/design/ui-analysis/final-fantasy-ix-field.png">
</p>

<p>Typically, we have a problem to solve with UI for mobile. First of all, everything is going to seem as though it needs UI. We start having to find ways to hide UI, or place large sets of UI into boxes that provide us their content on demand. It's always said that the best UI is invisible, though a lot of casual games have enough purchase features that keeping the screen clean can be a bit of a challenge.</p>

<p>
  <img class='img-sml' src="assets/images/design/ui-analysis/ice-age-adventures.jpg">
</p>

<p>World of Warcraft CAN have a very simplistic UI, and this is all the devs encourage for their players at times.</p>

<p>
  <img class='img-sml' src="assets/images/design/ui-analysis/world-of-warcraft-ui.jpg">
</p>

<p>
  But our goal is different from the players. We need to present something elegant to our player. Or at least it seems we need to. Our UI is one of the first things our player sees as a way to interact with our game. First impressions count, for us, this is a marketting and retention opportunity, we need this to look as elegant as possible. But what do our players need? They need information. When they've mastered the game's simplicity they can be open to more than elegance.
</p>

<p>
  In World of Warcraft's case, the player has been able to opt-in for a much more complicated interface built for the player-community itself. While we could convince ourselves that players want less UI, players prove us wrong and build more ui for themselves.
</p>

<p>
  <img class='img-sml' src="assets/images/design/ui-analysis/world-of-warcraft-custom-ui.jpg">
</p>

<p>
  The difference is that the UI we make is front-facing. We want to sell an elegant product to our audience. But if they want more, you can leave that up to them. World of Warcraft allows for mods, but you could just as well have a more complicated interface built-in to your game, just hide it unless your player asks for it.
</p>