<h2>The idea</h2>
<p>
    To (overly) simplify the idea, let's say that our game is running completely on the server, when we log-in from our own computer (a client) and start to play, we're just seeing a simulation of what the server is doing. So the way a multiplayer game works in this case, is when we, a player, move our character, we're sending a request to the server to move our character according to our input. The server moves our character as we requested, and sends the result back to all clients connected.
</p>

<p>
    It stands to reason that we need some code that sends these messages to the server. A command... if you will... funnily enough, the type of code we'll use to do this is LITERALLY called a command.
</p>

<h2>Prepare to change our character's colour</h2>

<p>Take the following script, a typical <mark>MonoBehaviour</mark> that changes our renderer's material colour when we press <mark>Q</mark> or <mark>E</mark>:</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">using</span> UnityEngine;

    <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">class</span> <span style="color:#4ec9b0;">CommandAttr</span> : <span style="color:#4ec9b0;">MonoBehaviour</span> &#123;
        <span style="color:#569cd6;">private</span> <span style="color:#4ec9b0;">Material</span> mat;

        <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> <span style="color:#569cd6;">Awake</span>() &#123;
            mat <span style="color:#b4b4b4;">=</span> GetComponent&lt;<span style="color:#4ec9b0;">Renderer</span>&gt;()<span style="color:#b4b4b4;">.</span>material;
        &#125;

        <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> <span style="color:#569cd6;">Update</span>() &#123;
            <span style="color:#569cd6;">if</span> (<span style="color:#4ec9b0;">Input</span><span style="color:#b4b4b4;">.</span>GetKeyDown(<span style="color:#b8d7a3;">KeyCode</span><span style="color:#b4b4b4;">.</span>Q)) &#123;
                mat<span style="color:#b4b4b4;">.</span>color <span style="color:#b4b4b4;">=</span> <span style="color:#4ec9b0;">Color</span><span style="color:#b4b4b4;">.</span>red;
            &#125;

            <span style="color:#569cd6;">if</span> (<span style="color:#4ec9b0;">Input</span><span style="color:#b4b4b4;">.</span>GetKeyDown(<span style="color:#b8d7a3;">KeyCode</span><span style="color:#b4b4b4;">.</span>E)) &#123;
                mat<span style="color:#b4b4b4;">.</span>color <span style="color:#b4b4b4;">=</span> <span style="color:#4ec9b0;">Color</span><span style="color:#b4b4b4;">.</span>red;
            &#125;
        &#125;
    &#125;

</pre>

<p>The trick is getting this to affect other instances of our character on the network as well. In it's current state, this script will only change the material on the machine that's running it.</p>

<h2>Prepare for online functionality</h2>

<p>
    Here's just a small checklist of the old-stuff before we get started on the new stuff:
</p>

<ol>
    <li>Add <mark>using UnityEngine.Networking</mark>.</li>
    <li>Replace the base class <mark>MonoBehaviour</mark> with <mark>NetworkBehaviour</mark>.</li>
    <li>In <mark>Start()</mark>, add <mark>enabled = isLocalPlayer</mark> to make this script accessible only to its owner.</li>
</ol>

<p>Now, there are a few DRASTIC changes we need to make, sorry, no copy-able text for this, it's healthy to type it out yourself, also I needed it to be an image so you can see the diagram here. Take note of the 3-step process happening here:</p>

<p><img src="/assets/images/unity/networking/unet/cmd/CommandAttrSyncVarHook.JPG"></p>

<p>Refer back to this shortly, but I want to explain a few rules here, our "tools":</p>

<ul>
    <li>Methods with the <mark>[Command]</mark> attribute above them are triggered on the SERVER instance instead of its player's device. A requirement of these commands is that they MUST have the <mark>Cmd</mark> prefix or they just don't work, simple as that.</li>
    <li>Variables with the <mark>[SyncVar]</mark> attribute, when changed on the server, instantly update on all other instances of that object on the network.</li>
    <li>Adding a <mark>hook</mark> to them can cause them to simultaneously run a <i>specified</i> method on any instance of this object that acknowledges the change.</li>
    <li>The method called by the aforementioned <mark>hook</mark> MUST ask for a parameter of the same type as the aforementioned variable. The <mark>hook</mark> is secretly passing its respective variable to that parameter when it calls this method.</li>
</ul>

<p>With those rules in-mind, let's look again at the above diagram and try to understand the 3-step process that's occurring:</p>

<ol>
    <li>Pressing <mark>Q</mark> or <mark>E</mark> calls our <mark>Command</mark>. This instruction is sent to the server instead of simply running on the device that called it.</li>
    <li>The <mark>Command</mark> gets run on the server, and what does it do? It changes the value of our <mark>colour</mark> variable.</li>
    <li>Our variable, <mark>colour</mark>, is a <mark>SyncVar</mark>. Seeing as we used a <mark>Command</mark> to make this change, we can safely bet it was the server that changed it. If we understand the nature of a <mark>SyncVar</mark>, it's safe to say that all other instances on our network have now ALSO received the change made to this variable... and if we understand <mark>hooks</mark>, well, guess what that means? ALL instances on the network will call <mark>OnColourChange(Color _colour)</mark> now.</li>
</ol>

<h2>When players join later...</h2>

<p>When testing with both a host and client connected, try disconnecting the client and reconnecting again as a client. That player will probably be white when they spawn. Players who join later won't be present when the SyncVar hook is called. Their SyncVars still match up, but we'll need to manually call each SyncVar's hook. We could do this in <mark>Start()</mark> or <mark>Awake()</mark> but a more practical place will be something from <mark>NetworkBehaviour</mark> known as <mark>OnStartClient()</mark>.</p>

<p>Simply add the following:</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">
    
    <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">override</span> <span style="color:#569cd6;">void</span> <span style="color:#569cd6;">OnStartClient</span>() &#123;
        <span style="color:#569cd6;">base</span><span style="color:#b4b4b4;">.</span>OnStartClient();
        Invoke(<span style="color:#d69d85;">&quot;UpdateStates&quot;</span>, <span style="color:#b5cea8;">0.5f</span>);
    &#125;
        
    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> UpdateStates() &#123;
        OnColourChange(colour);
    &#125;

</pre>

<p>I don't expect to have to explain the structure here, but what I will say is that we could possibly get away with simply running <mark>OnColourChange(_colour)</mark> in <mark>OnStartClient()</mark> but we'd run the risk of using information that hasn't been properly synchronized across the server yet. So we wrap that method-call in a separate mathod not-requiring a colour parameter, which allows us to use <mark>Invoke()</mark> to delay it for a moment.</p>

<h2>Black cubes?</h2>

<img src="/assets/images/unity/networking/unet/cmd/BlackCubes.JPG">

<p>One last problem is that when the game begins, we'll have black cubes now. This is because we're forcing our characters to run <mark>OnColourChange()</mark> at the start of the game when we haven't actually assigned a colour to our <mark>colour</mark> SyncVar yet. Simply initialize your SyncVar (<mark>colour</mark>) to <mark>Color.white</mark>. This'll let us have a default colour to begin the game with if the SyncVar hasn't been changed yet.</p>

<p>Read more about commands <a href="https://docs.unity3d.com/Manual/UNetActions.html">here</a>.</p>