/* You can add global styles to this file, and also import other style files */
body {
  margin: 0px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("assets/images/general/paw-bg.png");
  background-repeat: repeat;
  background-attachment: fixed;
  color: rgb(185, 188, 201);
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none !important;
}

a {
  color: rgb(255, 188, 64);
}

.img-sml {
  max-height: 180px;
  display: inline-block;
  margin: 1px;
}

img {
  max-width: 100%;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);
}

ul li,
ol li {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

ul.unspaced li,
ol.unspaced li {
  padding: 0px;
}

code {
  background-color: rgb(85, 85, 85);
  color: white;
  padding: 5px;
  border: 1px solid black;
  border-radius: 3px;
  display: inline-block;
  white-space: pre-line;
}

mark {
  background: rgba(255, 255, 128, 0.8);
  color: black;
  font-weight: bold;
  border-radius: 10px;
  padding: 0px 5px;
}

pre mark {
  background: rgba(128, 128, 128, 0.5) !important;
  color: gainsboro;
  font-weight: normal;
  border-radius: 0px;
  padding: 0px;
}

pre {
  overflow: auto;
}

.red {
  color: red;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

#content {
  padding: 20px 50px 50px;
  left: 300px;
  right: 0px;
  position: absolute;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 960px) {
  #bg-click {
    display: none;
  }

  .hamburger {
    display: none !important;
  }
}

#content>div {
  /* max-width: 750px; */
  width: 100%;
  background-color: rgba(17, 17, 17, 0.5);
}

#content>div>div {
  padding: 20px;
}

#content h1 {
  background-color: rgb(17, 17, 17);
  padding: 10px;
  margin: 0px;
  /* font-size: 25.5px; */
}

#content-list {
  background-color: #23252b;
  color: #989eae;
  width: 300px;
  margin: 0px;
  float: left;
  position: fixed;
  top: 40px;
  bottom: 0px;
  overflow: auto;
  padding-bottom: 50px;
  z-index: 2;
}

#content-list a {
  color: inherit;
}

#content-list ul {
  padding-left: 10px;
  list-style-type: none;
}

#content-list ul li {
  position: relative;
  margin-left: 1em;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 5px;
}

#content-list ul li:before {
  position: absolute;
  left: -1em;
  content: " ";
}

#content-list ul li.expanded:before {
  content: "-";
}

#content-list ul li.collapsed:before {
  content: "+";
}

#content-list ul ul {
  padding-left: 0.5em;
}

#content-list a {
  display: block;
  padding-left: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

#content-list a:hover {
  background-color: #41454f;
  color: white;
}

#bg-click-blocker {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -4;
}

#bg-click {
  position: fixed;
  width: 200vw;
  height: 200vh;
  z-index: 1;
  background: rgba(0, 0, 0, 0.7);
  transition-duration: 0.25s;
}

.numbered-page-menu {
  display: flex;
  justify-content: center;
  padding-left: 0px;
}

.numbered-page-menu li {
  display: inline;
  padding: 5px;
  margin: 0px 4px;
  border-radius: 10px;
  background-color: #23252b;
  transition-duration: 0.125s;
}

.numbered-page-menu li:hover {
  background-color: #41454f;
  transition-duration: 0.125s;
}

.numbered-page-menu li:before {
  content: " ";
}

.hamburger {
  align-items: center !important;
  background: #23252b !important;
  width: 100% !important;
  height: 50px !important;
  padding: 0px !important;
}

.hamburger-box {
  transform: scale(0.7);
  justify-self: flex-start;
  margin-left: 5px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background-color: rgb(185, 188, 201) !important;
}

.youtube {
  width: 400px;
  height: 300px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.unity-container {
  width: 100% !important;
  display: flex;
  justify-content: center;
}

#unity-iframe {
  width: 100%;
  max-width: inherit;
}
