<p>The following guide offers the bare minimum needed to implement Firebase Authentication in your project, before you go on to decide which method you plan to use (Email, Google, Facebook, etc.).</p>

<h2>Project Creation</h2>

<ol>
    <li>
        <p>
            Complete <b>steps 1 & 2</b> in the Firebase assistant found under <mark>Tools > Firebase</mark> This will set up your project online, as well as any local dependencies your project needs. For step 3, follow the guide on THIS page instead as we'll be doing some things differently.
        </p>
        <p><img src="assets/images/android-studio/firebase/authentication/email/ToolsFirebase.JPG"></p>
        <p><img src="assets/images/android-studio/firebase/authentication/firebase-auth-getting-started/FirebaseAuthenticationAssistant.png"></p>
        <p>Let the assistant create a new Firebase project for you. This is the default option.</p>
    </li>
    <li>
        <p>
            Head to your <a href="https://console.firebase.google.com/">firebase console</a>, click on your newly created project & address the data-share warning:
        </p>
        <p><img src="assets/images/android-studio/firebase/authentication/firebase-auth-getting-started/firebaseDataSharingWarning.JPG" alt=""></p>
    </li>
</ol>

<h2>Java requirements</h2>

<p>The following can be viewed as standard code to have no matter which provider you plan to use to authenticate your users on Firebase. Once you have the following steps completed in Java, you're ready to customize your user's experience when signing into your app.</p>

<ol>
    <li>
        <p>
            We'll need 2 Firebase objects.
        </p>
        <ol type="a">
            <li>
                <mark>FirebaseAuth</mark> which is our tool for storing & accessing user information.
            </li>
            <li><mark>FirebaseAuth.AuthStateListener</mark> which gives us a way to respond when users log in/out. We'll simply be updating our UI in this event.</li>
        </ol>
        <p>Add these as member variables at the top of your script:</p>

        <pre style="font-family:Consolas;font-size:13px;color:gainsboro;background:#1e1e1e;">
            
    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">FirebaseAuth</span> firebaseAuth;
    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">FirebaseAuth</span><span style="color:#b4b4b4;">.</span><span style="color:#569cd6;">AuthStateListener</span> authStateListener <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">new</span> <span style="color:#569cd6;">FirebaseAuth</span>.<span style="color:#569cd6;">AuthStateListener</span>() &#123;
        <span style="color:#569cd6;">@Override</span>
        <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">void</span> <span style="color:#4ec9b0;">onAuthStateChanged</span>(<span style="color:#569cd6;">@NonNull</span> <span style="color:#569cd6;">FirebaseAuth</span> firebaseAuth) &#123;
            updateUI<span style="color:#b4b4b4;">()</span>;
        }
    };
        </pre>

        <p>Add the following method to initialize your <mark>FirebaseAuth</mark> and register your <mark>AuthStateListener</mark> (the listener won't work otherwise).</p>

        <pre style="font-family:Consolas;font-size:13px;color:gainsboro;background:#1e1e1e;">
            
    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> <span style="color:#4ec9b0;">initializeFirebase</span>() &#123;
        firebaseAuth <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">FirebaseAuth</span><span style="color:#b4b4b4;">.</span>getInstance<span style="color:#b4b4b4;">()</span>;
        firebaseAuth<span style="color:#b4b4b4;">.</span>addAuthStateListener<span style="color:#b4b4b4;">(</span>authStateListener<span style="color:#b4b4b4;">)</span>;
    }
        </pre>
        
        <p>Call <mark>initializeFirebase()</mark> from onCreate, just before <mark>initializeView()</mark>.</p>
    </li>

    <li>
        <p>We'll add the <mark>updateUI()</mark> method which we expect to be called from our <mark>AuthStateListener</mark> when the listener is first registered to our <mark>firebaseAuth</mark>, also whenever login status changes as a result of registration or login, and whenever the user logs out.</p>

        <pre style="font-family:Consolas;font-size:13px;color:gainsboro;background:#1e1e1e;">
        
    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> <span style="color:#4ec9b0;">updateUI</span>() &#123;
        <span style="color:#569cd6;">FirebaseUser</span> firebaseUser <span style="color:#b4b4b4;">=</span> firebaseAuth<span style="color:#b4b4b4;">.</span>getCurrentUser<span style="color:#b4b4b4;">()</span>;
    
        <span style="color:#569cd6;">if</span> (firebaseUser <span style="color:#b4b4b4;">!=</span> <span style="color:#569cd6;">null</span>) &#123;
            <span style="color:#569cd6;">String</span> name <span style="color:#b4b4b4;">=</span> firebaseUser<span style="color:#b4b4b4;">.</span>getDisplayName<span style="color:#b4b4b4;">()</span>;
            <span style="color:#569cd6;">String</span> email <span style="color:#b4b4b4;">=</span> firebaseUser<span style="color:#b4b4b4;">.</span>getEmail<span style="color:#b4b4b4;">()</span>;
            <span style="color:#569cd6;">boolean</span> emailVerified <span style="color:#b4b4b4;">=</span> firebaseUser<span style="color:#b4b4b4;">.</span>isEmailVerified<span style="color:#b4b4b4;">()</span>;
            <span style="color:#569cd6;">String</span> uid <span style="color:#b4b4b4;">=</span> firebaseUser<span style="color:#b4b4b4;">.</span>getUid<span style="color:#b4b4b4;">()</span>;
    
            txtWelcome<span style="color:#b4b4b4;">.</span>setText<span style="color:#b4b4b4;">(</span><span style="color:#d69d85;">&quot;Welcome, &quot;</span> <span style="color:#b4b4b4;">+</span> firebaseUser<span style="color:#b4b4b4;">.</span>getEmail<span style="color:#b4b4b4;">())</span>;
        } <span style="color:#569cd6;">else</span> &#123;
            txtWelcome<span style="color:#b4b4b4;">.</span>setText<span style="color:#b4b4b4;">(</span><span style="color:#d69d85;">&quot;Please sign in or register&quot;</span><span style="color:#b4b4b4;">)</span>;
        }
    }
        </pre>
    </li>
</ol>
