<p>
    Now let's switch to a rigidbody way of moving our characters. In practice, this works out well, the reason why, I'm guessing, is that we send velocity data through the server instead of actual transform positions. This means our agents on the server only need to know the direction and speed they're travelling, while the actual movement is handled locally per client after processing that velocity. The short-of-it is that we end-up seeing smooth motion without the need to repeatedly send positions too-frequently. As well as a velocity reading, we gain the advantage of more accurate collisions, something most of our action-oriented games are going to need.
</p>

<p>If that last paragraph was a lot to digest, let's just see it in practice and agree instead. Now, we only need to make a few changes for this to work.</p>

<ol>
    <li>On your <mark>PlayerController</mark>'s prefab, just check that you have a <mark>Rigidbody</mark> and a <mark>BoxCollider</mark>.</li>
    <li>Set the <mark>NetworkTransform</mark> to <mark>SyncRigidbody</mark>.</li>
    <li>
        <p>
            Convert our <mark>PlayerController</mark> motion in the <mark>Update</mark> method into physics-based motion in <mark>FixedUpdate</mark>, using <mark>Update</mark> only to receive inputs and remembering to get our <mark>Rigidbody</mark> component in the <mark>Awake</mark> method.
        </p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">using</span> UnityEngine;
    <span style="color:#569cd6;">using</span> UnityEngine<span style="color:#b4b4b4;">.</span>Networking;
        
    <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">class</span> <span style="color:#4ec9b0;">PlayerController</span> : <span style="color:#4ec9b0;">NetworkBehaviour</span> &#123;
        <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">float</span> speed <span style="color:#b4b4b4;">=</span> <span style="color:#b5cea8;">10.0f</span>;
        <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">float</span> rotationSpeed <span style="color:#b4b4b4;">=</span> <span style="color:#b5cea8;">360.0f</span>;
        
        <span style="color:#569cd6;">private</span> <span style="color:#4ec9b0;">Rigidbody</span> rb;
        <span style="color:#569cd6;">private</span> <span style="color:#4ec9b0;">Vector2</span> input;
        
        <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> <span style="color:#569cd6;">Awake</span>() &#123;
            rb <span style="color:#b4b4b4;">=</span> GetComponent&lt;<span style="color:#4ec9b0;">Rigidbody</span>&gt;();
        &#125;
        
        <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> <span style="color:#569cd6;">Start</span>() &#123;
            enabled <span style="color:#b4b4b4;">=</span> isLocalPlayer;
        &#125;
        
        <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> <span style="color:#569cd6;">Update</span>() &#123;
            input <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">new</span> <span style="color:#4ec9b0;">Vector2</span>(<span style="color:#4ec9b0;">Input</span><span style="color:#b4b4b4;">.</span>GetAxis(<span style="color:#d69d85;">&quot;Horizontal&quot;</span>), <span style="color:#4ec9b0;">Input</span><span style="color:#b4b4b4;">.</span>GetAxis(<span style="color:#d69d85;">&quot;Vertical&quot;</span>));
        &#125;
        
        <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> <span style="color:#569cd6;">FixedUpdate</span>() &#123;
            rb<span style="color:#b4b4b4;">.</span>MovePosition(rb<span style="color:#b4b4b4;">.</span>position <span style="color:#b4b4b4;">+</span> transform<span style="color:#b4b4b4;">.</span>forward <span style="color:#b4b4b4;">*</span> input<span style="color:#b4b4b4;">.</span>y <span style="color:#b4b4b4;">*</span> speed <span style="color:#b4b4b4;">*</span> <span style="color:#4ec9b0;">Time</span><span style="color:#b4b4b4;">.</span>deltaTime);
            rb<span style="color:#b4b4b4;">.</span>MoveRotation(rb<span style="color:#b4b4b4;">.</span>rotation <span style="color:#b4b4b4;">*</span> <span style="color:#4ec9b0;">Quaternion</span><span style="color:#b4b4b4;">.</span>Euler(<span style="color:#b5cea8;">0.0f</span>, input<span style="color:#b4b4b4;">.</span>x <span style="color:#b4b4b4;">*</span> rotationSpeed <span style="color:#b4b4b4;">*</span> <span style="color:#4ec9b0;">Time</span><span style="color:#b4b4b4;">.</span>deltaTime, <span style="color:#b5cea8;">.0f</span>));
        &#125;
    &#125;
    
</pre>
    </li>
</ol>

<p>Run a test, you'll notice immediately that there're 2 things that aren't quite right:</p>

<ol>
    <li>
        There's something a little bit... flippy... about the movement now... easy fix: On the <mark>Rigidbody</mark>, freeze <mark>x</mark> and <mark>y</mark> rotation under <mark>constraints</mark>.
    </li>
    <li>
        Rotation seems fine locally, but when you see it updating on the other instance, it seems to be playing a VERY SLOW game of <i>rotatey-catch-up</i>. This gets solved on the <mark>NetworkTransform</mark> by setting <mark>Interpolate Rotation Factor</mark> to around 20.
    </li>
</ol>