<p>
  Your usual day-to-day Git tasks will usually just involve getting the latest work from the remote, and otherwise pushing your local work to the remote. These tasks are written line-by-line in the Git Bash as follows:
</p>
<ul>
  <li>Clone a project from the remote for the first time:
    <p>
      <code>git clone git@server:namespace/project.git</code>
    </p>
  </li>
  <li>Create a branch:
    <p>
      <code>git checkout -b feature/branch_name<br>
        git push --set-upstream origin feature/branch_name
      </code>
    </p>
  </li>
  <li>Commit your work:
    <p>
      <code>git add *<br>
        git commit -m "This is a commit message"<br>
        git push
      </code>
    </p>
  </li>
  <li>Switch to a different, existing branch:
    <p>
      <code>git checkout feature/branch_name<br>
        git pull
      </code>
    </p>
  </li>
  <li>Pull:
    <p>
      <code>git pull</code>
    </p>
  </li>
  <li>Delete a branch
    <p>
      <code>git branch -D feature/branch_name<br>
        git push origin :feature/branch_name
      </code>
    </p>
  </li>
</ul>
<p>
  For a more complete guide on common Git tasks via the command line, see my guide: <a routerLink="../common-git-commands/">Common Git Commands</a>.
</p>