<app-vuforia-world-builder-page-menu></app-vuforia-world-builder-page-menu>

<h2>Materials</h2>

<p>The app is technically working, but it could do with a little user-feedback. We'll recolour our materials red/green depending on whether or not we're attempting to place them on to valid terrain or not.</p>

<img src="assets/images/projects/vuforia-world-builder/vuforia-test-result.gif" class="img-sml">

<p>Some meshes can have multiple materials, so, We'll iterate through this when applying our colours. This will later serve as a way for us to return to our original colour, which means we'll need to be storing our original colour somewhere too.</p>

<p>We're going to store initial pairs of materials and colours. This way, when we iterate through x amount of materials on any given mesh, we can also return each material to it's default colour whenever we need to, regardless of which colour the original object was.</p>

<p>Create the following class within <mark>ButtonObjectSelection</mark>, it can be situated just above your variables. Additionally, we want a variable that holds a list of these pairs:</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">class</span> <span style="color:#4ec9b0;">MaterialSet</span> &#123;
        <span style="color:#569cd6;">public</span> MaterialSet(<span style="color:#4ec9b0;">Material</span> _material) &#123;
            material <span style="color:#b4b4b4;">=</span> _material;
            color <span style="color:#b4b4b4;">=</span> _material<span style="color:#b4b4b4;">.</span>GetColor(<span style="color:#d69d85;">&quot;_Color&quot;</span>);
        &#125;

        <span style="color:#569cd6;">public</span> <span style="color:#4ec9b0;">Material</span> material;
        <span style="color:#569cd6;">public</span> <span style="color:#4ec9b0;">Color</span> color;
    &#125;

    <span style="color:#569cd6;">private</span> <span style="color:#4ec9b0;">List</span>&lt;<span style="color:#4ec9b0;">MaterialSet</span>&gt; previewMaterialSets <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">new</span> <span style="color:#4ec9b0;">List</span>&lt;<span style="color:#4ec9b0;">MaterialSet</span>&gt;();

</pre>

<p>I really don't want to over-explain the following methods. They're mostly nothing new, just some foreach loops that store and recolour each material on our mesh. Just see the comments in the code below to get a grasp of what they're doing.</p>

<p>Note that, seeing as <mark>previewMaterialSets</mark> is a <mark>List<></mark> type, we need to add <mark>using System.Collections.Generic;</mark> to our using statements at the top of our script or we can't use Lists.</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">private</span> <span style="color:#4ec9b0;">Renderer</span>[] renderers;

    <span style="color:#57a64a;">// Create a separate list of materials we can mess with when toggling between green/red for free or overlapped geometry.</span>
    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> PopulatePreviewMaterials() &#123;
        renderers <span style="color:#b4b4b4;">=</span> previewObject<span style="color:#b4b4b4;">.</span>gameObject<span style="color:#b4b4b4;">.</span>GetComponentsInChildren&lt;<span style="color:#4ec9b0;">MeshRenderer</span>&gt;();
 
        <span style="color:#569cd6;">foreach</span> (<span style="color:#4ec9b0;">Renderer</span> r <span style="color:#569cd6;">in</span> renderers) &#123;
            <span style="color:#569cd6;">foreach</span> (<span style="color:#4ec9b0;">Material</span> m <span style="color:#569cd6;">in</span> r<span style="color:#b4b4b4;">.</span>materials) &#123;
                previewMaterialSets<span style="color:#b4b4b4;">.</span>Add(<span style="color:#569cd6;">new</span> <span style="color:#4ec9b0;">MaterialSet</span>(m));
            &#125;
        &#125;
    &#125;
 
    <span style="color:#57a64a;">// Colour our materials red or green if our dragged object is above terrain, otherwise colour it white.</span>
    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> UpdatePreviewMaterial() &#123;
        <span style="color:#569cd6;">if</span> (previewMaterialSets <span style="color:#b4b4b4;">==</span> <span style="color:#569cd6;">null</span> <span style="color:#b4b4b4;">||</span> previewMaterialSets<span style="color:#b4b4b4;">.</span>Count <span style="color:#b4b4b4;">&lt;=</span> <span style="color:#b5cea8;">0</span>) &#123; <span style="color:#569cd6;">return</span>; &#125;
 
        <span style="color:#569cd6;">if</span> (hit<span style="color:#b4b4b4;">.</span>transform) &#123;
            RecolourMaterialsInHierarchy((<span style="color:#4ec9b0;">DetectOverlap</span><span style="color:#b4b4b4;">.</span>overlaps<span style="color:#b4b4b4;">.</span>Count <span style="color:#b4b4b4;">&gt;</span> <span style="color:#b5cea8;">0</span>) <span style="color:#b4b4b4;">?</span> <span style="color:#4ec9b0;">Color</span><span style="color:#b4b4b4;">.</span>red <span style="color:#b4b4b4;">:</span> <span style="color:#4ec9b0;">Color</span><span style="color:#b4b4b4;">.</span>green);
        &#125; <span style="color:#569cd6;">else</span> &#123;
            RecolourMaterialsInHierarchy(<span style="color:#4ec9b0;">Color</span><span style="color:#b4b4b4;">.</span>white);
        &#125;
    &#125;
 
    <span style="color:#57a64a;">// Just a method to summarize what happens when recolouring our materials.</span>
    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> RecolourMaterialsInHierarchy(<span style="color:#4ec9b0;">Color</span> _colour) &#123;
        <span style="color:#569cd6;">foreach</span> (<span style="color:#4ec9b0;">MaterialSet</span> ms <span style="color:#569cd6;">in</span> previewMaterialSets) &#123;
            ms<span style="color:#b4b4b4;">.</span>material<span style="color:#b4b4b4;">.</span>SetColor(<span style="color:#d69d85;">&quot;_Color&quot;</span>, _colour <span style="color:#b4b4b4;">==</span> <span style="color:#4ec9b0;">Color</span><span style="color:#b4b4b4;">.</span>white <span style="color:#b4b4b4;">?</span> ms<span style="color:#b4b4b4;">.</span>color <span style="color:#b4b4b4;">:</span> _colour);
        &#125;
    &#125;

</pre>

<p>Call <mark>PopulatePreviewMaterials()</mark> from <mark>InitializePreviewObject()</mark>, and <mark>UpdatePreviewMaterial()</mark> from <mark>Update()</mark>.</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> <span style="color:#569cd6;">Update</span>() &#123;
        <mark>UpdatePreviewMaterial();</mark>
    &#125;

    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> InitializePreviewObject() &#123;
        previewObject <span style="color:#b4b4b4;">=</span> Instantiate(interactableToSpawn, transform<span style="color:#b4b4b4;">.</span>position, <span style="color:#4ec9b0;">Quaternion</span><span style="color:#b4b4b4;">.</span>identity)<span style="color:#b4b4b4;">.</span>gameObject;
        previewObject<span style="color:#b4b4b4;">.</span>transform<span style="color:#b4b4b4;">.</span>SetParent(<span style="color:#4ec9b0;">CustomTrackableEventHandler</span><span style="color:#b4b4b4;">.</span>instance<span style="color:#b4b4b4;">.</span>transform);
        previewObject<span style="color:#b4b4b4;">.</span>gameObject<span style="color:#b4b4b4;">.</span>AddComponent&lt;<span style="color:#4ec9b0;">DetectOverlap</span>&gt;();
        previewObject<span style="color:#b4b4b4;">.</span>gameObject<span style="color:#b4b4b4;">.</span>SetActive(<span style="color:#569cd6;">false</span>);

        <span style="color:#569cd6;">foreach</span> (<span style="color:#4ec9b0;">Rigidbody</span> rb <span style="color:#569cd6;">in</span> previewObject<span style="color:#b4b4b4;">.</span>GetComponentsInChildren&lt;<span style="color:#4ec9b0;">Rigidbody</span>&gt;()) &#123;
            rb<span style="color:#b4b4b4;">.</span>isKinematic <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">true</span>;
        &#125;

        <mark>PopulatePreviewMaterials();</mark>
    &#125;

</pre>

<p>After we set <mark>isDragging</mark> in <mark>RestoreAvailability()</mark>, we return our preview materials to their original colour.</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> RestoreAvailability() &#123;
        isDragging <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">true</span>;

        <mark class=snippet>RecolourMaterialsInHierarchy(<span style="color:#4ec9b0;">Color</span><span style="color:#b4b4b4;">.</span>white);</mark>
        hit <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">new</span> <span style="color:#4ec9b0;">RaycastHit</span>();

        SetObjectLayer(interactableToSpawn<span style="color:#b4b4b4;">.</span>transform, <span style="color:#d69d85;">&quot;Overlay&quot;</span>);

        button<span style="color:#b4b4b4;">.</span>interactable <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">true</span>;
        interactableToSpawn<span style="color:#b4b4b4;">.</span>transform<span style="color:#b4b4b4;">.</span>position <span style="color:#b4b4b4;">=</span> initialPosition;
    &#125;

</pre>

<app-vuforia-world-builder-page-menu></app-vuforia-world-builder-page-menu>