<p>
    We're getting there... but we can't ignore what seems to be a little bit of lag. Select your player prefab, we need to look at the <mark>NetworkTransform</mark>.
</p>

<p>
    <img src="/assets/images/unity/networking/unet/lag/NetworkTransformFirstLook.JPG">
</p>

<p>
    Now, I've never personally had PERFECT synchronization with the <mark>Transform Sync Mode</mark> set to <mark>Sync Transform</mark>. Leave that for now, we're gonna squeeze everything we can out of it with a few basic tweaks.
</p>

<ul>
    <li>
        <p>
            <b>Network Send Rate:</b> In the above image, this is set to 9, that means we'll send information to the server 9x per second. that's infrequent enough that we HAVE to do some guesswork in-between frames, this guesswork is referred to as 'interpolation'. A higher send-rate requires less interpolation, and vice versa.
        </p>

        <p>Setting this to 29 or 30 can get us about as smooth a translation as we can hope for on the other end.</p>
    </li>
    <li>
        <b>Snap Threshold:</b> If our player moves too far and the server hasn't received an updated position recently enough, then when that update finally comes through, rather than TWEEN to the new position, we'll simply see the other player SNAP to their new position. Basically a higher <mark>Interpolate Movement Factor</mark> should allow us to increase this number. We're trying to avoid snapping afterall.
    </li>
    <li>
        <b>Interpolate Movement Factor:</b> By increasing this, we're basically asking Unity to make further (distance) guesses about where our received player transform is supposed to be at any given time. In short: guess better. The down-side to increasing this is that if it guesses too far ahead and the update info ends up being surprisingly different, we're going to get movement jitter and possibly trigger the <mark>Snap Threshold</mark>. 
    </li>
</ul>

<p>An... "acceptable" recipe for all of this could be as follows:</p>

<p>
    <img src="/assets/images/unity/networking/unet/lag/AcceptablyBad.JPG">
</p>

<p>
    The above image is far from ideal and only acceptable due to it's low send-rate, but most games, and also players, wouldn't consider this result to be at all pleasing.
</p>

<p>
    Honestly, it's time to abandon the <mark>Sync Transform</mark> setting. Directly updating based on position is tedious, and also not very helpful for most of our games that require some sort of physics-based interaction.
</p>