<p>To create a terrain, go to your hierarchy pane and select 'Create > 3D Objects > Terrain'. A bare terrain will appear.</p>
<p>
  <img src="assets/images/unity/terrain/terrain-preview.png">
</p>
<p>With your terrain selected, you'll see the terrain tool available in your inspector.</p>
<p>
  <img src="assets/images/unity/terrain/terrain-tool.png">
</p>
<p>The buttons from left-to-right are as follows:</p>
<ul>
  <li>
    <b>Raise / Lower: </b>Raise and lower your terrain to create hills and valleys.</li>
  <li>
    <b>Set Height: </b>If you want a flat, elevated plateau and you know exactly what height, then you can set that height here
    and brush it on to the terrain.</li>
  <li>
    <b>Smooth: </b>If your terrain is too bumpy, smooth it out.</li>
  <li>
    <b>Paint Textures: </b>With tile-able textures set as repeatable, you can paint grassy meadows and dirt paths in to your
    terrain.
  </li>
  <li>
    <b>Trees: </b>Distribute trees. Trees are special objects in unity that allow for wind properties and procedural branches.</li>
  <li>
    <b>Details: </b>These are smaller elements without branches that still obey wind and have random height/width properties.
    This usually refers to small bushes, foliage or grass.</li>
  <li>
    <b>Settings: </b>Control the distance at which 3D elements become 2D billboards, set Wind speed and strength, as well as
    resolution of your terrain map and more.</li>
</ul>
<p>Textures, trees and foliage must be imported to the terrain before they can be used.</p>
<p>
  <img src="assets/images/unity/terrain/adding-things.png">
</p>
<p>Remember to set your TargetStrength and Opacity or you could end up painting a lot of nothing.</p>
<p>Be aware that your terrain is actually just a series of textures operating behind the scenes. A black/white texture map known
  as the height map, where black information is default, and white information signifies elevation. While textures, tree
  and foliage distribution is recorded on an RGB map, with different colours being painted to a file that represent the distribution
  of your objects.</p>
<p>Rigidbodies such as the Third Person controller are free to run around on this terrain as you might expect.</p>