<p></p>
<p>Flow charts are adequately complex, yet necessarily simplified representations of a single playthrough of your game.</p>
<p>
  <br>
</p>
<p>They can be as complex as you need but should serve as an order of actions for a programmer to consider. It's a somewhat
  simple method of communicating an order of execution to team members and if it's kept simple enough, the game can be described
  to other stakeholders who aren't necessarily from a technical division.
  <br>
  <br>
</p>
<p>
  <img src="assets/images/design/flowcharts/flowcharts.jpg">
  <br>
</p>
<p>
  <br>
</p>
<p>Note that different symbols are used throughout. Squares represent a simple process, diamonds represent a decision, there
  is a third shape used at one point to show that data is stored.</p>
<br>
<p></p>