<p>
  Well, enough people need to know about version control in the fields of digital creativity in this day and age, and even as someone who isn't delving in and out of complex code or game environments, it's a handy skill to have. Studios may or may not require you to learn how to use it, it's always best to be prepared. Learning it on the fly is not exactly all of the fun. There are enough people wanting to know so I've decided rather than repeat myself to everyone, it will be simpler and more beneficial to place my findings here.
</p>
<p>
  Please try my Git guides and I would love to know if you get stuck at some point, or if there is something I could make more clear for people to understand. They are targetted at artists more-so than coders. As an artist myself, I know what it's like to try and scrape for direct answers along the lines of "Just how do I get the bloody thing working???". I will be using GitLab as it's my weapon of choice for easy setup, project management and the 10GB of free data PER PROJECT for an infinite number of projects... is quite nice.
</p>
<p>
  All the best,
  <br>
  Regan
</p>