<p>Let's say the server is running the majority of the code that processes the rules of our game. There'll definitely come times when you want to send messages from the server to all clients connected to the game. A networked object has the ability to do what we call <mark>ClientRpc</mark> calls.</p>

<p>Take the following code which, in the simplest way possible, respawns our player if they collide with an obstacle:</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">using</span> UnityEngine;

    <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">class</span> <span style="color:#4ec9b0;">ClientRpcAttr</span> : <span style="color:#4ec9b0;">MonoBehaviour</span> &#123;
        <span style="color:#569cd6;">private</span> <span style="color:#4ec9b0;">Vector3</span> initialSpawnPoint;
        
        <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> <span style="color:#569cd6;">Awake</span>() &#123;
            initialSpawnPoint <span style="color:#b4b4b4;">=</span> transform<span style="color:#b4b4b4;">.</span>position;
        &#125;
        
        <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> <span style="color:#569cd6;">OnCollisionEnter</span>(<span style="color:#4ec9b0;">Collision</span> collision) &#123;
            <span style="color:#569cd6;">if</span> (collision<span style="color:#b4b4b4;">.</span>gameObject<span style="color:#b4b4b4;">.</span>tag <span style="color:#b4b4b4;">==</span> <span style="color:#d69d85;">&quot;Obstacle&quot;</span>) &#123;
                transform<span style="color:#b4b4b4;">.</span>position <span style="color:#b4b4b4;">=</span> initialSpawnPoint;
            &#125;
        &#125;
    &#125;

</pre>

<p>This won't run on the network, there's no code here to describe such behaviour. It will only reset the position of the object that made the collision, we'll demonstrate this by having an obstacle that only exists on the server.</p>

<h2>Add a server-only obstacle</h2>

<ol>
    <li>Add a sphere to your scene.</li>
    <li>Make it into a prefab.</li>
    <li>On our prefab, add a <mark>NetworkIdentity</mark> component. Set it to <mark>Server Only</mark>.</li>
    <li>
        <p>
            While we're adding components, add a new script named <mark>Obstacle</mark>. Give it the following code:
        </p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">
            
    <span style="color:#569cd6;">using</span> UnityEngine<span style="color:#b4b4b4;">.</span>Networking;

    <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">class</span> <span style="color:#4ec9b0;">Obstacle</span> : <span style="color:#4ec9b0;">NetworkBehaviour</span> &#123;
        <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> <span style="color:#569cd6;">Start</span>() &#123;
            <span style="color:#569cd6;">if</span> (<span style="color:#b4b4b4;">!</span>isServer) &#123;
                Destroy(gameObject);
            &#125;
        &#125;
    &#125;

</pre>

    </li>
    <li>
        <p>
            Create a tag named <mark>Obstacle</mark> and apply it to our prefab.
        </p>
        <p><img src="/assets/images/unity/networking/unet/client-rpc/ServerObstacle.JPG"></p>
    </li>
</ol>

<h2>ClientRpc</h2>

<p>Hopefully you've read part 5 of this tutorial set which talks about <mark>Command</mark>s. While <mark>Command</mark>s are triggered from local players and run on the server, <mark>ClientRpc</mark> calls are the opposite. They're triggered on the server and run on any connected clients. We'll need to modify the above script to work under this new paradigm.</p>

<p>Take note, we'll refer back to this:</p>

<p><img src="/assets/images/unity/networking/unet/client-rpc/ClientRpcCall.JPG"></p>

<p>The rule to understand here is that our method needs the <mark>[ClientRpc]</mark> attribute, which also mandates that our method is named with the <mark>Rpc</mark> prefix. This is similar to the requirements of a <mark>Command</mark> in that the method will not work without following these rules.</p>

<p>The script does 2 things of note. First it only allows the collision to occur on the server. Second, I have chosen to allow only the owner of the player who collides to receive the message from the server.</p>

<p>Observe the following gif. We'll play on the CLIENT, yet, it is a collision that happens only on the SERVER that triggers the CLIENT to respawn on their local instance.</p>

<p><img src="/assets/images/unity/networking/unet/client-rpc/ClientRpcDemo.gif"></p>

<p>Read more about <mark>ClientRpc</mark> <a href="https://docs.unity3d.com/Manual/UNetActions.html"> here</a>.</p>