  <p>There are a few types of UI terminology that most people in and around our industry will understand. So we'll have a quick
    look at those, and what they describe.</p>
  <ul>
    <li>Options Menu
      <ol>
        <li>Settings</li>
        <li>Inventory</li>
        <li>Character Customization</li>
      </ol>
    </li>
  </ul>
  <img src="assets/images/essential-terminology/ui/inventory-diablo-iii.jpg" class="img-sml">
  <img src="assets/images/essential-terminology/ui/inventory-final-fantasy-iv.png" class="img-sml">
  <ul>
    <li>Drop Down / Rollout</li>
  </ul>
  <img src="assets/images/essential-terminology/ui/dropdown-doom-2016.png" class="img-sml">
  <ul>
    <li>Carousel</li>
  </ul>
  <img src="assets/images/essential-terminology/ui/carousel-the-division.jpg" class="img-sml">
  <ul>
    <li>Radial Menu</li>
  </ul>
  <img src="assets/images/essential-terminology/ui/radial-ratchet-and-clank.jpg" class="img-sml">
  <ul>
    <li>Map / Min-Map / Compass</li>
  </ul>
  <img src="assets/images/essential-terminology/ui/map.png" class="img-sml">
  <img src="assets/images/essential-terminology/ui/map-final-fantasy-x-2.jpg" class="img-sml">
  <ul>
    <li>Quest Arrow</li>
  </ul>
  <img src="assets/images/essential-terminology/ui/quest-arrow.jpg" class="img-sml">
  <ul>
    <li>Gauge
      <br>
    </li>
    <ol>
      <li>Health</li>
      <li>Stats</li>
      <li>Timer</li>
      <li>Game Progress</li>
    </ol>
  </ul>
  <img src="assets/images/essential-terminology/ui/diagetic-dead-space.jpg" class="img-sml">
  <ul>
    <li>Reticle</li>
  </ul>
  <img src="assets/images/essential-terminology/ui/diagetic-reticle.png" class="img-sml">
  <ul>
    <li>Dialogue box
      <br>
    </li>
  </ul>
  <img src="assets/images/essential-terminology/ui/dialogue.png" class="img-sml">
  <ul>
    <li>Ability Menu</li>
  </ul>
  <img src="assets/images/essential-terminology/ui/ability-menu-final-fantasy-xiv.png" class="img-sml">
  <p>You can think of these arrangements as compositions or 'patterns'. These kinds of patterns are usually constructed from
    some base components like:</p>
  <ul>
    <li>Text (Labels and Inputs)</li>
    <li>Images</li>
    <li>Buttons</li>
    <li>Toggle / Radio buttons</li>
    <li>Sliders</li>
    <li>Scroll View / List / Drop-Down</li>
  </ul>
  <img src="assets/images/essential-terminology/ui/ui-controls.jpg">
  <h2>Types of UI</h2>
  <img src="assets/images/essential-terminology/ui/ui-types-graph.gif">
  <p>
    <a href="http://publications.lib.chalmers.se/records/fulltext/111921.pdf">Beyond the HUD</a> was actually devised for first-person shooters, but was deemed good enough for all types as well.</p>
  <p>Firstly, when talking about game UI, the thesis suggests that we acknowledge three planes upon which our UI exists.</p>
  <img src="assets/images/essential-terminology/ui/three-planes.png">
  <p>The world is the space in which our character or actor exists. It presents our world and it's inhabitants, be they sentient
    or not. It's the space in which we roam and explore. This is where we're likely to see spatial and diagetic elements.</p>
  <p>The filter is the realm in which our perspective is changed. Effects such as cracked visors, blood splatters, vignette
    and drunk-shaders take the stage as meta ui elements.</p>
  <p>The overlay exists completely outside of the game, it displays information our character is definitely not privy to, and
    gives us the god-like vicarious perspective on the game world. This is where we typically see our non-diagetic UI.</p>
  <h3>Diagetic</h3>
  <p></p>
  <img src="assets/images/essential-terminology/ui/diagetic-spyro.png" class="img-sml">
  <img src="assets/images/essential-terminology/ui/diagetic-division-holowatch.jpg" class="img-sml">
  <img src="assets/images/essential-terminology/ui/diagetic-crash-team-racing.png" class="img-sml">
  <img src="assets/images/essential-terminology/ui/diagetic-bioshock.png" class="img-sml">
  <img src="assets/images/essential-terminology/ui/diagetic-dead-space.jpg" class="img-sml">
  <img src="assets/images/essential-terminology/ui/diagetic-abes-oddysee.jpg" class="img-sml">
  <img src="assets/images/essential-terminology/ui/diagetic-fallout-4.png" class="img-sml">
  <img src="assets/images/essential-terminology/ui/diagetic-heavy-rain.jpg" class="img-sml">
  <p>This is the kindof UI that seamlessly integrates with the fiction of the world it belongs to, Characters in-game are aware
    of it's existence and may even comment on it or interact with it themselves. It's often said that the best UI is invisible.
    If you don't notice it's there, it's done a good job. We have to look at the information we're trying to convey to our
    audience. We ask what kind of world our character is performing in. Is the information we have for our users something
    that can be diagetic? Does our character have access to some object that shows information rather than superimposing
    it ourselves? Does it make sense to have this on-hand? Or will we find this representation at regular intervals throughout
    our journey?</p>
  <h3>Non-diagetic</h3>
  <img src="assets/images/essential-terminology/ui/non-diagetic-crash-bandicoot.gif" class="img-sml">
  <img src="assets/images/essential-terminology/ui/non-diagetic-overwatch.png" class="img-sml">
  <img src="assets/images/essential-terminology/ui/non-diagetic-destiny.jpg" class="img-sml">
  <img src="assets/images/essential-terminology/ui/non-diagetic-final-fantasy-xiii.jpg" class="img-sml">
  <img src="assets/images/essential-terminology/ui/non-diagetic-dmc.png" class="img-sml">
  <img src="assets/images/essential-terminology/ui/non-diagetic-fly-for-fun.png" class="img-sml">
  <img src="assets/images/essential-terminology/ui/non-diagetic-time-crisis.jpg" class="img-sml">
  <p>This is rendered outside of the game world, in the overlay. Characters in-game are not aware of it. It's often labelled
    as the generic type of UI that we think about when we talk about UI in games. What it HAS been criticized for is being
    the culprit that breaks immersion.</p>
  <p>A study was conducted at the UCL Interaction Center in London using Battlefield 3. They tried it with their test subjects
    in two ways. one with all the UI enabled, and one with all the UI removed. The aim was to find out if non-diagetic UI
    truly was the culprit for breaking immersion. They only found results supporting this for players who were seasoned veterans
    at the game, while newbies said the lack of UI made the game very difficult for them and wholly un-enjoyable. They really
    wanted the UI. Initially it seems that immersion is how attached you are to the game world. But what about willingness
    to be involved? If our players decide they have no intention to be involved, then the immersion target has been missed.
    Sure, the answer is probably more in line with... not removing the UI, rather replace it. It's best to replace a convenience,
    rather than to remove it. They should have offered a diagetic option instead of simply removing the non-diagetic one.
    It stood to show though, people were perfectly happy to be immersed in the game with the use of non-diagetic UI.</p>
  <h3>Spatial</h3>
  <img src="assets/images/essential-terminology/ui/spatial-final-fantasy-xii.gif" class="img-sml">
  <img src="assets/images/essential-terminology/ui/spatial-division.jpg" class="img-sml">
  <img src="assets/images/essential-terminology/ui/spatial-diablo-iii.jpg" class="img-sml">
  <img src="assets/images/essential-terminology/ui/spatial-final-fantasy-xiv.jpg" class="img-sml">
  <img src="assets/images/essential-terminology/ui/spatial-fable.jpg" class="img-sml">
  <img src="assets/images/essential-terminology/ui/spatial-age-of-empires.jpg" class="img-sml">
  <img src="assets/images/essential-terminology/ui/spatial-overwatch.jpg" class="img-sml">
  <img src="assets/images/essential-terminology/ui/spatial-ratchet-and-clank.jpg" class="img-sml">
  <img src="assets/images/essential-terminology/ui/spatial-assassins-creed.jpg" class="img-sml">
  <p>This kind of UI exists in the world, but not in the fiction of the game. The player character isn't aware of it. They're
    used to guide us to or away from locations, or to help us strategize based on spatial awareness. We're likely to see
    a lot more spatial UI in other types of software, especially with the rise of AR and VR. This is one to practice for
    the interest it bears to a lot of corporations at the moment.</p>
  <img src="assets/images/essential-terminology/ui/ui-unity-spatial.png">
  <p>Spatial UI shares a lot of benefits with diagetic UI, serving not only as a fancy way to look at the world, it also cleans
    up our screen real-estate, reduces stress on the user and gives us the opportunity to focus more on the world.</p>
  <h3>Meta</h3>
  <img src="assets/images/essential-terminology/ui/meta-tanks.gif" class="img-sml">
  <img src="assets/images/essential-terminology/ui/meta-call-of-duty.jpg" class="img-sml">
  <img src="assets/images/essential-terminology/ui/meta-gta-drunk.jpg" class="img-sml">
  <img src="assets/images/essential-terminology/ui/meta-gta-phone.jpg" class="img-sml">
  <img src="assets/images/essential-terminology/ui/meta-racing.jpg" class="img-sml">
  <img src="assets/images/essential-terminology/ui/meta-doom.png" class="img-sml">
  <p>These elements often exist in the filter. That's outside of the geometrical game world, yet they reside in the fictional
    world of the game. They can sometimes exist in the overlay. I find them to be the most difficult to describe, and on
    some occasions, meta UI is easily mistaken for any of the other types. They are UI elements that
    <i>emulate</i> what could be described as the internal human perception, linking the player to their game-avatar's senses.</p>
  <h2>Related</h2>
  <h3>articles</h3>
  <p>
    <a href="https://unity3d.com/learn/tutorials/topics/virtual-reality/user-interfaces-vr">UI in VR</a>
    <br>
    <a href="http://publications.lib.chalmers.se/records/fulltext/111921.pdf">Beyond the HUD</a>
    <br>
  </p>