<P>
  Assuming you've downloaded the tortoise git client from <a href="https://tortoisegit.org/download/">TortoiseGit</a>: run the installer, spam the next button, all the default options are fine, get it installed.
</P>

<p>
  If it all worked out, you should see Tortoise options in your context menu as follows:
</p>

<p><img src="assets/images/git/tortoise/getting-started/tortoiseconfirmed.jpg"/></p>

<p>
  I've noticed a few cases where it doesn't append to the context menu right away. Restarting your computer would help.
</p>

<p>
  With that out of the way, you're ready to learn how to perform your day-to-day tasks with <a routerLink="../workflow">Working with TortoiseGit</a>.
</p>