<p>The following guide aims to bridge the gap between Firebase Authentication, and Firebase Database. To understand this guide from beginning to end, you should have completed the following 2 tutorials:</p>

<ol class="unspaced">
    <li><p><a [routerLink]="['/tutorials', {outlets: {'tutorials-content': ['android-studio>firebase>database>basics']}}]">Firebase Authentication</a></p></li>
    <li><p><a [routerLink]="['/tutorials', {outlets: {'tutorials-content': ['android-studio>firebase>database>integration']}}]">Firebase Database</a></p></li>
</ol>

<p>We'll look at a project that already has User Authentication, and see how we can integrate a database to save their custom data online.</p>

<h2>Project Setup</h2>

<ol>
    <li>
        <p>
            Start a new Android Studio project and through the Firebase Assistant, complete steps 1 & 2 for each of the following:
        </p>
        <ul>
            <li><b>Authentication</b></li>
            <li><b>Realtime Databse</b></li>
        </ul>
        <p><img src="assets/images/android-studio/firebase/database/integration/FirebaseAssistantAuthDB.jpg" alt=""></p>
        <p>REMEMBER TO GO TO YOUR NEW FIREBASE PROJECT'S CONSOLE AND ADD A REALTIME DATABASE (in test mode), ALSO TO ENABLE EMAIL/PASSWORD AS AN AUTHENTICATION PROVIDER.</p>
    </li>
    <li>
        <p>
            Import <a href="assets/zips/android-studio/firebase/database/DBIntegrated.zip">these files</a>, try to keep the following folder structure:
        </p>
        <p><img src="assets/images/android-studio/firebase/database/integration/FolderStructure.jpg" alt=""></p>
        <p>An easy way to do this can be to open <mark>Windows Explorer</mark> by right-clicking your MainActivity and selecting <mark>Show in Explorer</mark>. From here you can right-click to make a new folder, the old-fashioned way.</p>
        <p><img src="assets/images/android-studio/firebase/database/integration/MakeNewFolder.jpg" alt=""></p>
        <p>CHECK ALL YOUR FILES TO MAKE SURE YOUR PACKAGE NAMES MATCH!!! These files you're importing are from a different project and won't have the same package name that you need. Just make sure the packages in your Java files match the package name for your project.</p>
        <p><img src="assets/images/android-studio/firebase/database/integration/MatchingPackageNames.jpg" alt=""></p>
    </li>
    <li>
        <p>
            At this point, you should be able to run the app and see the following result:
        </p>
        <p><img src="assets/images/android-studio/firebase/database/integration/SignInPage.JPG" alt=""></p>
        <p>You should be able to register with an email like <mark>qq@qq.qq</mark> with a password like <mark>qqqqqq</mark>, which should create a user on Firebase Authentication and reveal the following screens:</p>
        <p><img src="assets/images/android-studio/firebase/database/integration/SignedIn.JPG" alt=""></p>
        <p><img src="assets/images/android-studio/firebase/database/integration/UserCreated.jpg" alt=""></p>
    </li>
</ol>

<h2>The Goal</h2>

<p>Once you've registered or signed in, take note that you can tap anywhere in the white-space to accumulate some <mark>score</mark>. However, when resetting the application and logging in again, we see the score begins again at zero. We want our score to persist between sessions. We should be able to login to this app from any device as a valid user, and see the same score we had last time we played.</p>
<p>A database will help us achieve this by providing a place to keep user data, such as our score. We'll use our Firebase Authentication to provide a user id, and we can store any data we want within that.</p>

<h2>Database Manager</h2>

<p>This class is quite heavy, so you'll have to pay attention and question each section as you implement it until you feel like you understand why it's there. What should we do first? Well, it's safe to say we'll need a class to manage our database, so let's start there:</p>

<ol>
    <li>
        <p>In your <mark>Utils</mark> directory, add a class named <mark>DatabaseManager</mark>. This'll connect to our Firebase Database, hold listeners for gathering data, create new users on registration, and send messages to update our app's UI as data changes.</p>
    </li>
    <li>
        <p>
            Next, in <mark>DatabaseManager</mark>, we'll add our field/member variables.
        </p>

        <pre style="font-family:Consolas;font-size:13px;color:gainsboro;background:#1e1e1e;">
    
    <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">static</span> <span style="color:#569cd6;">DatabaseManager</span> instance;
    
    <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">boolean</span> isReady <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">false</span>;
    
    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">MainActivity</span> mainActivity;
    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">DatabaseReference</span> myRef;
    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">User</span> user;

    <span style="color:#569cd6;">ValueEventListener</span> velGetScore <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">new</span> <span style="color:#569cd6;">ValueEventListener</span>() &#123;
        <span style="color:#569cd6;">@Override</span>
        <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">void</span> <span style="color:#4ec9b0;">onDataChange</span>(<span style="color:#569cd6;">DataSnapshot</span> dataSnapshot) &#123;
            onVelGetScore<span style="color:#b4b4b4;">(</span>dataSnapshot<span style="color:#b4b4b4;">)</span>;
        }
 
        <span style="color:#569cd6;">@Override</span>
        <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">void</span> <span style="color:#4ec9b0;">onCancelled</span>(<span style="color:#569cd6;">DatabaseError</span> databaseError) &#123;
        }
    };
    <span style="color:#569cd6;">ValueEventListener</span> velIncrementScore <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">new</span> <span style="color:#569cd6;">ValueEventListener</span>() &#123;
        <span style="color:#569cd6;">@Override</span>
        <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">void</span> <span style="color:#4ec9b0;">onDataChange</span>(<span style="color:#569cd6;">DataSnapshot</span> dataSnapshot) &#123;
            onVelIncrementScore<span style="color:#b4b4b4;">(</span>dataSnapshot<span style="color:#b4b4b4;">)</span>;
        }
 
        <span style="color:#569cd6;">@Override</span>
        <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">void</span> <span style="color:#4ec9b0;">onCancelled</span>(<span style="color:#569cd6;">DatabaseError</span> databaseError) &#123;
        }
    };
        </pre>

        <p>Put simply:</p>
        <ul class="unspaced">
            <li>
                The static variable will allow us to keep a global reference to this class, in short, we can access <mark>DatabaseManager</mark> from any script.
            </li>
            <li>
                <mark>isReady</mark> will be flagged as <mark>true</mark> ONLY when our database is fully loaded after we sign in.
            </li>
            <li>
                    It'll be mandatory to communicate to our MainActivity, so let's not worry about that.
            </li>
            <li>
                We'll store the <mark>DatabaseReference</mark> as a field variable this time, rather than local as it should always be referring to the same location in our database while a user's logged in.
            </li>
            <li>
                This might be a good time to check the <mark>User</mark> class that was imported from the above zip file. In there, you can see the sort of data we'll be storing. It's not much, just enough to see how it works.
            </li>
            <li>We have 2 listeners, one for updating our UI whenever we increment our score, this will fire perpetually. The other simply gets our latest score and nothing updates our UI. We'll implement these methods next.</li>
        </ul>
    </li>
    <li>
        <p>The following 2 methods are triggered from the above listeners:</p>

        <pre style="font-family:Consolas;font-size:13px;color:gainsboro;background:#1e1e1e;">
        
    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> <span style="color:#4ec9b0;">onVelGetScore</span>(<span style="color:#569cd6;">DataSnapshot</span> dataSnapshot) &#123;
        <span style="color:#569cd6;">if</span> (dataSnapshot<span style="color:#b4b4b4;">.</span>getValue<span style="color:#b4b4b4;">()</span> <span style="color:#b4b4b4;">!=</span> <span style="color:#569cd6;">null</span>) &#123;
            <span style="color:#569cd6;">Log</span><span style="color:#b4b4b4;">.</span>d<span style="color:#b4b4b4;">(</span><span style="color:#569cd6;">MainActivity</span><span style="color:#b4b4b4;">.</span>TAG<span style="color:#b4b4b4;">,</span> <span style="color:#d69d85;">&quot;dataSnapshot: &quot;</span> <span style="color:#b4b4b4;">+</span> dataSnapshot<span style="color:#b4b4b4;">.</span>getValue<span style="color:#b4b4b4;">())</span>;
            <span style="color:#569cd6;">String</span> dsEmail <span style="color:#b4b4b4;">=</span> dataSnapshot<span style="color:#b4b4b4;">.</span>child<span style="color:#b4b4b4;">(</span><span style="color:#d69d85;">&quot;email&quot;</span><span style="color:#b4b4b4;">).</span>getValue<span style="color:#b4b4b4;">().</span>toString<span style="color:#b4b4b4;">()</span>;
            <span style="color:#569cd6;">String</span> dsScore <span style="color:#b4b4b4;">=</span> dataSnapshot<span style="color:#b4b4b4;">.</span>child<span style="color:#b4b4b4;">(</span><span style="color:#d69d85;">&quot;score&quot;</span><span style="color:#b4b4b4;">).</span>getValue<span style="color:#b4b4b4;">().</span>toString<span style="color:#b4b4b4;">()</span>;
    
            <span style="color:#569cd6;">int</span> serverScore <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">Integer</span><span style="color:#b4b4b4;">.</span>parseInt<span style="color:#b4b4b4;">(</span>dsScore<span style="color:#b4b4b4;">)</span>;
    
            mainActivity<span style="color:#b4b4b4;">.</span>showScore<span style="color:#b4b4b4;">(</span>serverScore<span style="color:#b4b4b4;">)</span>;
    
            confirmUserOnline<span style="color:#b4b4b4;">()</span>;
        } <span style="color:#569cd6;">else</span> &#123;
            registerNewUser<span style="color:#b4b4b4;">()</span>;
        }
    }
    
    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> <span style="color:#4ec9b0;">onVelIncrementScore</span>(<span style="color:#569cd6;">DataSnapshot</span> dataSnapshot) &#123;
        <span style="color:#569cd6;">if</span> (dataSnapshot<span style="color:#b4b4b4;">.</span>getValue<span style="color:#b4b4b4;">()</span> <span style="color:#b4b4b4;">!=</span> <span style="color:#569cd6;">null</span>) &#123;
            <span style="color:#569cd6;">Log</span><span style="color:#b4b4b4;">.</span>d<span style="color:#b4b4b4;">(</span><span style="color:#569cd6;">MainActivity</span><span style="color:#b4b4b4;">.</span>TAG<span style="color:#b4b4b4;">,</span> <span style="color:#d69d85;">&quot;dataSnapshot&quot;</span> <span style="color:#b4b4b4;">+</span> dataSnapshot<span style="color:#b4b4b4;">.</span>getValue<span style="color:#b4b4b4;">())</span>;
            <span style="color:#569cd6;">String</span> dsEmail <span style="color:#b4b4b4;">=</span> dataSnapshot<span style="color:#b4b4b4;">.</span>child<span style="color:#b4b4b4;">(</span><span style="color:#d69d85;">&quot;email&quot;</span><span style="color:#b4b4b4;">).</span>getValue<span style="color:#b4b4b4;">().</span>toString<span style="color:#b4b4b4;">()</span>;
            <span style="color:#569cd6;">String</span> dsScore <span style="color:#b4b4b4;">=</span> dataSnapshot<span style="color:#b4b4b4;">.</span>child<span style="color:#b4b4b4;">(</span><span style="color:#d69d85;">&quot;score&quot;</span><span style="color:#b4b4b4;">).</span>getValue<span style="color:#b4b4b4;">().</span>toString<span style="color:#b4b4b4;">()</span>;
    
            <span style="color:#569cd6;">int</span> serverScore <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">Integer</span><span style="color:#b4b4b4;">.</span>parseInt<span style="color:#b4b4b4;">(</span>dsScore<span style="color:#b4b4b4;">)</span>;
    
            incrementScoreOnline<span style="color:#b4b4b4;">(</span>serverScore<span style="color:#b4b4b4;">)</span>;
        }
    }
        </pre>
        <p>The listeners take a "data snapshot" from the database, and these 2 methods are able to read string data from the snapshots. It targets children of the referenced location, that location being 'a user'.</p>

        <ul class="unspaced">
            <li>
                <p><mark>onVelGetScore()</mark> actually serves 2 purposes. First it updates our UI with gathered data, secondly, it confirms our online presence. It's safe to assume we'll be purposely invoking this method at the beginning of the <mark>DatabaseManager</mark>'s lifecycle.</p>
                <p>If for any reason the Firebase user we've currently signed in with doesn't have a database and missed the initial registration somehow, we have an else statement to provide a new entry for them in the database.</p>
            </li>
            <li>
                <p><mark>onVelIncrementScore()</mark> is similar in that it GETS data from our database, but this one is a bit weird, the only reason it gets data is so that we can take our online score, and add +1 to it before we send it back to the database. So even though it GETS data, it's real purpose is to then SET the data to a new value. If that sounds confusing, that's fine, it's not a standard approach.</p>
            </li>
        </ul>
    </li>
    <li>
        <p>
            Let's add the 2 methods needed to complete the above tasks:
        </p>

        <pre style="font-family:Consolas;font-size:13px;color:gainsboro;background:#1e1e1e;">
            
    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> <span style="color:#4ec9b0;">confirmUserOnline</span>() &#123;
        isReady <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">true</span>;
        mainActivity<span style="color:#b4b4b4;">.</span>userForm<span style="color:#b4b4b4;">.</span>setTextForm<span style="color:#b4b4b4;">()</span>;
    }
    
    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> <span style="color:#4ec9b0;">incrementScoreOnline</span>(<span style="color:#569cd6;">int</span> _serverScore) &#123;
        mainActivity<span style="color:#b4b4b4;">.</span>showScore<span style="color:#b4b4b4;">(++</span>_serverScore<span style="color:#b4b4b4;">)</span>;
        user<span style="color:#b4b4b4;">.</span>score <span style="color:#b4b4b4;">=</span> _serverScore;
        myRef<span style="color:#b4b4b4;">.</span>setValue<span style="color:#b4b4b4;">(</span>user<span style="color:#b4b4b4;">)</span>;
    }
        </pre>

        <ul class="unspaced">
            <li>
                <p>
                    <mark>confirmUserOnline()</mark> is actually the final step needed for our Authentication's Login. We use this method as a final confirmation that we've successfully logged in and connected our database. <mark>isReady</mark> is used as a final assurance, <mark>mainActivity.userForm.setText()</mark> updates our UI accordingly.
                </p>
            </li>
            <li>
                <p>
                    <mark>incrementScoreOnline()</mark> is the real goal we have when we call <mark>onVelIncrementScore()</mark>, which was just a necessary step to get our online score before we increment it with THIS method. 
                </p>
            </li>
        </ul>
    </li>
    <li>
        <p>Let's add our constructor to specify what happens when this class is created, this should go at the very top of your script, this is the first thing that fires when your class is instantiated:</p>

        <pre style="font-family:Consolas;font-size:13px;color:gainsboro;background:#1e1e1e;">
            
    <span style="color:#4ec9b0;">DatabaseManager</span>(<span style="color:#569cd6;">MainActivity</span> _mainActivity) &#123;
        instance <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">this</span>;
        mainActivity <span style="color:#b4b4b4;">=</span> _mainActivity;
    
        initializeDatabase<span style="color:#b4b4b4;">()</span>;
    
        myRef<span style="color:#b4b4b4;">.</span>addListenerForSingleValueEvent<span style="color:#b4b4b4;">(</span>velGetScore<span style="color:#b4b4b4;">)</span>;
    }
        </pre>

        <p>Nothing here should be very surprising. The class provides itself as its own, static instance, accessible from anywhere. It acknowledges the MainActivity, does some mandatory initialization for the database, which we'll look at next, and lastly, forces <mark>velGetScore()</mark> to fire.</p>
    </li>

    <li>
        <p>
            Let's look at what happens in that <mark>initializeDatabase()</mark> method.
        </p>

        <pre style="font-family:Consolas;font-size:13px;color:gainsboro;background:#1e1e1e;">
            
    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> <span style="color:#4ec9b0;">initializeDatabase</span>() &#123;
        <span style="color:#569cd6;">FirebaseUser</span> firebaseUser <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">FirebaseAuth</span><span style="color:#b4b4b4;">.</span>getInstance<span style="color:#b4b4b4;">().</span>getCurrentUser<span style="color:#b4b4b4;">()</span>;
    
        user <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">new</span> <span style="color:#569cd6;">User</span>(
            firebaseUser<span style="color:#b4b4b4;">.</span>getUid<span style="color:#b4b4b4;">()</span>
        ,   firebaseUser<span style="color:#b4b4b4;">.</span>getEmail<span style="color:#b4b4b4;">()</span>
        );
    
        <span style="color:#569cd6;">FirebaseDatabase</span> database <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">FirebaseDatabase</span><span style="color:#b4b4b4;">.</span>getInstance<span style="color:#b4b4b4;">()</span>;
        myRef <span style="color:#b4b4b4;">=</span> database<span style="color:#b4b4b4;">.</span>getReference<span style="color:#b4b4b4;">(</span><span style="color:#d69d85;">&quot;users&quot;</span><span style="color:#b4b4b4;">).</span>child<span style="color:#b4b4b4;">(</span>user<span style="color:#b4b4b4;">.</span>uid<span style="color:#b4b4b4;">)</span>;
    
        myRef<span style="color:#b4b4b4;">.</span>addValueEventListener<span style="color:#b4b4b4;">(</span>velGetScore<span style="color:#b4b4b4;">)</span>;
    }
        </pre>

        <ul class="unspaced">
            <li>
                <p>We request Firebase's info on our current user, then we make a new User object and store firebase authentication data in it.</p>
            </li>
            <li>
                <p>We use that firebase data to specify a referenced location in our database, we'll use this location a lot as we send & receive data.</p>
            </li>
            <li><p>We then add a listner to that location to updates whenever online data changes, if you remember, this not only updates our UI when the score changes online, but it also confirms that our database is up-and-running, ready to go.</p></li>
        </ul>
    </li>
    
    <li>
        <p>We have 2 final methods to complete this class, which we'll call externally from our game or authenticator.</p>

        <pre style="font-family:Consolas;font-size:13px;color:gainsboro;background:#1e1e1e;">
        
    <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">void</span> <span style="color:#4ec9b0;">updateScore</span>() &#123;
        <span style="color:#569cd6;">if</span> (user <span style="color:#b4b4b4;">==</span> <span style="color:#569cd6;">null</span>) &#123;
            <span style="color:#569cd6;">return</span>;
        }
    
        myRef<span style="color:#b4b4b4;">.</span>addListenerForSingleValueEvent<span style="color:#b4b4b4;">(</span>velIncrementScore<span style="color:#b4b4b4;">)</span>;
    }
    
    <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">void</span> <span style="color:#4ec9b0;">registerNewUser</span>() &#123;
        myRef<span style="color:#b4b4b4;">.</span>setValue<span style="color:#b4b4b4;">(</span>user<span style="color:#b4b4b4;">)</span>;
    }
        </pre>

        <ul class="unspaced">
            <li>
                <p><mark>updateScore()</mark> will eventually be called from our MainActivity whenever we click. It begins the process for incrementing our score, but ONLY if <mark>user</mark> is not null. We shouldn't have to worry about this as long as there were no problems initializing and connecting to our database.</p>
            </li>
            <li>
                <p><mark>registerNewUser()</mark> is only ever called after registration, so this method will only occur once for any one user's lifetime. It does one thing, and that is, after confirming the creation of a user, adding that user to the database where we can begin keeping track of their score.</p>
            </li>
        </ul>
    </li>
</ol>

<h2>Piecing it all together</h2>

<p>That was probably a lot to take in, but the <mark>DatabaseManager</mark> class is completed. Everything this app needs to GET & SET user scores is here, now it's just a matter of making sure our other scripts interact with it at the right moments. This part's a lot shorter, but will require changes throughout most of the other scripts in this project.</p>

<p>Explainers will be short in this section, you should be able to make a decent guess towards what each change is doing.</p>

<h3>MainActivity</h3>

<p>Open <mark>MainActivity</mark> to begin our first set of edits.</p>

<ol>
    <li>
        <p>We won't store our score locally anymore, our <mark>DatabaseManager</mark> keeps this data in its <mark>User</mark> object, but more importantly, we're looking ONLINE for our score now.</p>
        <p>Remove <code>private int score;</code> from the field/member variables.</p>
    </li>
    <li>
        <p>In <mark>onTouchEvent()</mark>, replace the call to <code>showScore()</code> with a call to <code>incrementScore()</code> instead.</p>
    </li>
    <li>
        <p>
            <mark>incrementScore()</mark> should have the following code: 
        </p>
        <p>
            <code>
                if (DatabaseManager.instance != null) &#123;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;DatabaseManager.instance.updateScore();<br>
                }
            </code>
        </p>
    </li>
</ol>

<h3>AuthEmailManager</h3>

<p>Open <mark>AuthEmailManager</mark> to begin our next set of edits.</p>

<ol>
    <li>
        <p>In <mark>onRegistrationSuccess()</mark>, we'll call that one-time mathod from our <mark>DatabaseManager</mark>. Add <code>DatabaseManager.instance.registerNewUser();</code> on the next line after the <mark>Log</mark>.</p>
    </li>
    <li>
        <p>Remove the 2-lines of code from <mark>onSignInSuccess</mark> and replace it with this one line.</p>
        <p>
            <code>new DatabaseManager(mainActivity);</code>
        </p>
        <p>Successful sign-in or registration will new result in the creation of a new <mark>DatabaseManager</mark>, then triggering the chain of events from the constructor.</p>
    </li>
    <li>
        <p>
            In <mark>onSignOut()</mark>, add this line first:
        </p>
        <p>
            <code>
                DatabaseManager.instance = null;
            </code>
        </p>
        <p>This is just some precautionary cleanup in the event that we sign out. We don't want accidental access to online data if a user is signed out. Nullifying the <mark>DatabaseManager</mark> object is the same as destroying it in Java. We shouldn't have any listeners still lingering around after this.</p>
    </li>
</ol>

<p>Hopefully everything should work now. I'd recommend testing with a clean userbase and database. From the Firebase console, check your <mark>Authentication</mark> users and delete each one. In your <mark>Realtime Database</mark>, you can simply delete the <mark>Users</mark> key.</p>

<p>If you're at your wits end trying to figure which step has gone wrong and it's just not working, <a href="assets/zips/android-studio/firebase/database/DBIntegratedComplete.zip">these files</a> have been tested alongside this tutorial and should work, provided they're imported correctly into a Firebase connected project.</p>
