<h2>Elegance</h2>
<ul>
  <li>Efficiency / depth.</li>
  <li>Achieving a lot with a little.</li>
  <li>Contains the technical definition of efficiency with some of the profound goodness of beauty.</li>
</ul>
<h2>Why care to learn about game design theory?</h2>
<p>Game design in work and academia allows immersed individuals to start asking serious questions about their craft. This is
  how progress happens. Refer to the
  <a href="https://www.google.com/url?q=https://youtu.be/I0Y6NPahlDE?t=10m1s">evolution of music in the Renaissance era</a>.
</p>
<p>One problem in Game Design is that our predecessors were not all practitioners of good design. Rather, programmers with cool
  ideas. See
  <a href="https://www.google.com/url?q=https://www.youtube.com/watch?v=MtzCLd93SyU">Sid Meyers on the psychology of game design</a>.
</p>
<h2>Filling a need</h2>
<p>Elegance is the vehicle that delivers our value, it is not the value itself. Value manifests when we fill a need. Adding
  one extra pawn to Chess does not fill a need. People will instead opt to play the Chess they already know and love. The
  value from a copycat game must have enough new understanding so that a player doesn't just ignore the value they felt they
  already drew from the predecessor.</p>
<p>
  <img src="assets/images/design/clockwork-game-design/filling-a-need.png">
</p>
<h2>Research</h2>
<p>If your game is too similar to another game, it gains less of it's own value because people already have access to what you're
  offering.</p>
<p>In order to say something useful to people, you need to be aware of what's already been said. Remember that you're adding
  your voice to a global conversation that's already been going on for some time. Game designers rightly validate <i>playing games</i>as means of research. Analyze and compare games, find relations between your own proposed core
  mechanisms and find reference in both virtual and tabletop games. Leave no stone unturned. You even have to reference a
  lot of games to be sure your own idea is new and unique. Look to fill needs, the act of pursuing new and exciting or exceptionally
  dull experiences will add more to your ideas palette.</p>