<h2>Decision Making</h2>
<p>Not every time that we're given a choice, do we actually have a decision to make.</p>
<p>
    <img src="assets/images/design/clockwork-game-design/tic-tac-toe.png">
</p>
<p>There's no debate about the next, correct move. If you see a solution, you react.</p>
<p>
  <img src="assets/images/design/clockwork-game-design/select-doors.png">
</p>
<p>You have no information to go off here. You guess. Other examples include:</p>
<ul>
  <li>Predicting a dice roll.</li>
  <li>Picking a face-down card.</li>
</ul>
<p>Add windows to these doors, door 1's window is transparent but you see no light inside, door 2's window is covered in blood
  but you can see a light inside revealing a trail of gold coins... now you have some incomplete information about the doors
  and can make a decision based off what little you know about them.</p>
<p>As another example, take two 6-sided dice, they have the following properties:</p>
  <ul>
    <li><b>Die #1:</b> 1 star, high reward, 5 blank sides.</li>
    <li><b>Die #2:</b> 4 stars, low reward, 2 blank sides.
    </li>
  </ul>
<p>You must choose one to roll. You understand the rewards for each, but a blank roll will remove you from the game. Now you
  know the odds and the stakes, but you don't have enough information to determine the outcome. Now your choice requires
  you to make a decision.</p>
<p>
  <img src="assets/images/design/clockwork-game-design/decision-axis.png">
</p>
<h3>To recap</h3>
<p class="red">A guess is when you're given a choice with no information to inform a decision.</p>
<p class="green">A solution or reaction occurs when you have all the information necessary to inform your decision.</p>
<p class="blue">A decision is when you have some information, but not enough to determine the outcome.</p>