<div class="hamburger hamburger--arrow" (click)="appsService.Toggle()">
    <div class="hamburger-box">
        <div class="hamburger-inner"></div>
    </div>
</div>

<ul>
    <li *ngFor="let i of jsonData" [ngClass]="i.children ? ({'collapsed': i.slug, 'expanded': !i.slug}) : ''">
        <ng-container *ngIf="i.children; then thenTemplate; else elseTemplate"></ng-container>
        <ng-template #thenTemplate>
            <a [routerLink]="" (click)="i.slug = !i.slug;">{{i.title}}</a>
        </ng-template>
        <ng-template #elseTemplate>
            <a [routerLink]="" (click)="showApp(i.slug)">{{i.title}}</a>
        </ng-template>
        
        <ul *ngIf="i.children && !i.slug">
            <li *ngFor="let j of i.children" [ngClass]="j.children ? ({'collapsed': j.slug, 'expanded': !j.slug}) : ''"> 
                <ng-container *ngIf="j.children; then thenTemplate; else elseTemplate"></ng-container>
                <ng-template #thenTemplate>
                    <a [routerLink]="" (click)="j.slug = !j.slug;">{{j.title}}</a>
                </ng-template>
                <ng-template #elseTemplate>
                        <a [routerLink]="" (click)="showApp(j.slug)">{{j.title}}</a>
                </ng-template>

                <ul *ngIf="j.children && !j.slug">
                    <li *ngFor="let k of j.children" [ngClass]="k.children ? ({'collapsed': k.slug, 'expanded': !k.slug}) : ''"> 
                        <ng-container *ngIf="k.children; then thenTemplate; else elseTemplate"></ng-container>
                        <ng-template #thenTemplate>
                            <a [routerLink]="" (click)="k.slug = !k.slug;">{{k.title}}</a>
                        </ng-template>
                        <ng-template #elseTemplate>
                                <a [routerLink]="" (click)="showApp(k.slug)">{{k.title}}</a>
                        </ng-template>

                        <ul *ngIf="k.children && !k.slug">
                            <li *ngFor="let l of k.children" [ngClass]="l.children ? ({'collapsed': l.slug, 'expanded': !l.slug}) : ''">
                                <ng-container *ngIf="l.children; then thenTemplate; else elseTemplate"></ng-container>
                                <ng-template #thenTemplate>
                                    <a [routerLink]="" (click)="l.slug = !l.slug;">{{l.title}}</a>
                                </ng-template>
                                <ng-template #elseTemplate>
                                        <a [routerLink]="" (click)="showApp(l.slug)">{{l.title}}</a>
                                </ng-template>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>