<app-vuforia-world-builder-page-menu></app-vuforia-world-builder-page-menu>

<h2>Rigidbodies</h2>

<p>
  In this section, we'll add support for rigidbodies to our Vuforia app. Remember in part 1, we made a way to listen for
  events whenever Vuforia called <mark>OnTrackingFound()</mark> & <mark>OnTrackingLost()</mark>? Well, let's open
  <mark>CustomTrackableEventHandler</mark> and hit F12 while our cursor is clicked on the inherited
  <mark>DefaultTrackableEventHandler</mark> class to take a look at the original methods:</p>

<p>
  <img src="assets/images/projects/vuforia-world-builder/DefaultOnTrackingFound.JPG">
</p>

<p>
    It essentially just uses a form of <mark>GetComponent</mark> to find <mark>Renderers</mark>, <mark>Colliders</mark> and <mark>Canvases</mark> and then uses <mark>foreach</mark> to enable them. <mark>OnTrackingLost</mark> is simply the opposite, it gets the components, then disables them.
</p>

<p>
    You see nothing here about rigidbodies, so why is this a problem? Well, basically if you had rigidbodies, you'd find that your objects are still capable of falling even while tracking is lost. Nothing is preventing them from that. Seeing as colliders are disabled after OnTrackingLost, well, every rigidbody will just fall through the floor.
</p>

<h2>RigdbodyAssistant.cs</h2>

<p>Make a new script named <mark>RigidbodyAssistant</mark>. We'll apply this to anything that has a rigidbody
  we'd like to have managed when Vuforia finds/loses tracking. Though, we won't manually apply these to our spawnable objects. We'll let code do that to prevent them appearing on the preview versions when the app starts. Take note of the comments in the following code:</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">using</span> UnityEngine;

    <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">class</span> <span style="color:#4ec9b0;">RigidbodyAssistant</span> : <span style="color:#4ec9b0;">MonoBehaviour</span> &#123;
        <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">bool</span> wasKinematic;
        <span style="color:#569cd6;">private</span> <span style="color:#4ec9b0;">Vector3</span> lastKnownVelocity;
        <span style="color:#569cd6;">private</span> <span style="color:#4ec9b0;">Rigidbody</span> rb;
     
        <span style="color:#57a64a;">// Subscribe to the events.</span>
        <span style="color:#57a64a;">// Specify which methods from our own script will be called when the event is broadcast.</span>
        <span style="color:#57a64a;">// OnEnable is the ideal place to do this.</span>
        <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> <span style="color:#569cd6;">OnEnable</span>() &#123;
            <mark><span style="color:#4ec9b0;">Events</span><span style="color:#b4b4b4;">.</span>OnTrackingFound <span style="color:#b4b4b4;">+=</span> OnTrackingFound;</mark>
            <mark><span style="color:#4ec9b0;">Events</span><span style="color:#b4b4b4;">.</span>OnTrackingLost <span style="color:#b4b4b4;">+=</span> OnTrackingLost;</mark>
        &#125;
     
        <span style="color:#57a64a;">// Unsubscribe from our events.</span>
        <span style="color:#57a64a;">// This part is important. If this object is ever destroyed or disabled, which is likely,</span>
        <span style="color:#57a64a;">// we&#39;ll get a Null Reference Exception when it tries to broadcast to an object that doesn&#39;t exist anymore.</span>
        <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> <span style="color:#569cd6;">OnDisable</span>() &#123;
            <mark><span style="color:#4ec9b0;">Events</span><span style="color:#b4b4b4;">.</span>OnTrackingFound <span style="color:#b4b4b4;">-=</span> OnTrackingFound;</mark>
            <mark><span style="color:#4ec9b0;">Events</span><span style="color:#b4b4b4;">.</span>OnTrackingLost <span style="color:#b4b4b4;">-=</span> OnTrackingLost;</mark>
        &#125;
     
        <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> <span style="color:#569cd6;">Awake</span>() &#123;
            rb <span style="color:#b4b4b4;">=</span> GetComponent&lt;<span style="color:#4ec9b0;">Rigidbody</span>&gt;();
        &#125;
     
        <span style="color:#57a64a;">// Store our velocity and kinematic state at the time tracking is lost.</span>
        <span style="color:#57a64a;">// Effectively dDisable our rigidbody.</span>
        <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> OnTrackingLost() &#123;
            lastKnownVelocity <span style="color:#b4b4b4;">=</span> rb<span style="color:#b4b4b4;">.</span>velocity;
            wasKinematic <span style="color:#b4b4b4;">=</span> rb<span style="color:#b4b4b4;">.</span>isKinematic;
     
            rb<span style="color:#b4b4b4;">.</span>isKinematic <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">true</span>;
        &#125;
     
        <span style="color:#57a64a;">// Restore our velocity and kinematic state at the time tracking is found.</span>
        <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> OnTrackingFound() &#123;
            rb<span style="color:#b4b4b4;">.</span>isKinematic <span style="color:#b4b4b4;">=</span> wasKinematic;
            rb<span style="color:#b4b4b4;">.</span>velocity <span style="color:#b4b4b4;">=</span> lastKnownVelocity;
        &#125;
    &#125;

</pre>

<p>And the code that applies them to spawned copies is placed into <mark>ButtonObjectSelection</mark> under <mark>SpawnCopy()</mark>.</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> SpawnCopy() &#123;
        <span style="color:#4ec9b0;">Transform</span> t <span style="color:#b4b4b4;">=</span> Instantiate(interactableToSpawn, hit<span style="color:#b4b4b4;">.</span>point, spawnRotation, <span style="color:#4ec9b0;">CustomTrackableEventHandler</span><span style="color:#b4b4b4;">.</span>instance<span style="color:#b4b4b4;">.</span>transform)<span style="color:#b4b4b4;">.</span>transform;
        t<span style="color:#b4b4b4;">.</span>localScale <span style="color:#b4b4b4;">=</span> previewObject<span style="color:#b4b4b4;">.</span>transform<span style="color:#b4b4b4;">.</span>localScale;

        <span style="color:#569cd6;">foreach</span> (<span style="color:#4ec9b0;">Collider</span> c <span style="color:#569cd6;">in</span> t<span style="color:#b4b4b4;">.</span>GetComponentsInChildren&lt;<span style="color:#4ec9b0;">Collider</span>&gt;()) &#123;
            c<span style="color:#b4b4b4;">.</span>gameObject<span style="color:#b4b4b4;">.</span>tag <span style="color:#b4b4b4;">=</span> <span style="color:#d69d85;">&quot;Interactive&quot;</span>;
        &#125;

        SetObjectLayer(t, <span style="color:#d69d85;">&quot;Default&quot;</span>);

        <mark>t<span style="color:#b4b4b4;">.</span>gameObject<span style="color:#b4b4b4;">.</span>AddComponent&lt;<span style="color:#4ec9b0;">RigidbodyAssistant</span>&gt;();</mark>
    &#125;

</pre>

<p>That should be everything. You should be able to set isKinematic and isTrigger to whatever you want on your preview
  objects. They should automatically set themselves appropriately once the app starts up, and spawned copies should use
  the settings you initially placed before the app started.</p>

<app-vuforia-world-builder-page-menu></app-vuforia-world-builder-page-menu>