<p>
  I'll cover how to go about this exactly, but as an overview, you need these:
</p>

<ol>
  <li>Server that hosts your Git projects.</li>
  <li>Project to host your files.</li>
  <li>A client to grab projects from the server, and manage them on your machine.</li>
</ol>

<h3>Server (GitLab)</h3>

<p>
  If this sounds like hocus-pocus, don't worry, it's easier than it sounds. The server part is simple because there are websites out there that do this for us. Head to <a href="https://gitlab.com">GitLab</a> and make an account. There, done. Now you have a Git server that you can use.
</p>

<h3>Project</h3>

<p>
  From your GitLab account, find the <em>New Project </em>button. It's in a few places, but you'll always find it at the top-right of the GitLab webpage.
</p>

<p><img src="assets/images/git/getting-started/capture.jpg"></p>

<p>
  Fill out your project name and you're done. The other fields here are all optional.
</p>

<p><img src="assets/images/git/getting-started/capture1.jpg"/></p>

<h3>Client</h3>

<p>
  This again is terminology that catches people off-guard. All this really means for you is "Software". You need to download a program that can communicate with your server from your machine (otherwise known as a client). At this point, I have 3 unique suggestions (Ignore the 4th... it's just an honorable mention):
</p>

<ul>
  <li>
    <a href="https://www.google.co.nz/url?sa=t&rct=j&q=&esrc=s&source=web&cd=2&cad=rja&uact=8&ved=0ahUKEwjJ0IOMg-3NAhVKNpQKHSnkAI0QjBAIIzAB&url=https%3A%2F%2Fgit-scm.com%2Fdownload%2Fwin&usg=AFQjCNGgkEevr3G3s0qGAw9_URQwLcb5CQ">GitBash</a>
  </li>
  <li><a href="https://tortoisegit.org/download/">TortoiseGit</a></li>
  <li><a href="https://www.gitkraken.com/download">GitKraken</a></li>
  <li><a href="https://www.sourcetreeapp.com/">Sourcetree</a></li>
</ul>

<p>
  My honest advice is to download all 3 (excluding Sourcetree). They each do the same thing, yet they're each better than the other at certain tasks. No matter which client you use, you'll have the same setup procedure for each, though it's carried out slightly differently in each program. That process is as follows:
</p>

<ol>
  <li>Install software</li>
  <li>Setup SSH Key</li>
  <li>Open / Clone project</li>
  <li>Checkout / Commit / Push / Pull</li>
</ol>

<p>
  You would have to learn the same procedure differently depending on which client you decide to go with. To help make that decision, here are some small descriptions that also let you see how pretty the user interface is for each:
</p>

<ol>
  <li>
    <a href="https://git-scm.com/download/win">GitBash</a>
    <p><img src="assets/images/git/getting-started/gitbash.jpg"/></p>
    <p>
      It's text-based, it's ugly, it's for power-users, you don't wanna know about it, I get that. However, I recommend installing
      this regardless of whether or not you decide to go with an alternative option. The alternative options may require this
      to be installed, so install it.
    </p>
  </li>
  <li>
    <a href="https://tortoisegit.org/download/">TortoiseGit</a>
    <p><img src="assets/images/git/getting-started/tortoise.jpg"/></p>
    <p>
      Manage your Git project from the comfort and familiarity of the classic right-click context menu. It has a nice method for resolving conflicts if two people happen to commit work on the same file. I recommend having it purely for that purpose.
    </p>
  </li>
  <li>
    <a href="https://www.gitkraken.com/download">GitKraken</a>
    <p><img src="assets/images/git/getting-started/kraken.jpg"/></p>
    <p>
      It's beautiful and easy to learn. Possibly the easiest to learn. It has a really simple generator to help you get going
      with an SSH key when you get to that point. I give this client a gold-star. I'm using it predominantly myself.
    </p>
  </li>
  <li>
    <a href="https://www.sourcetreeapp.com/">Sourcetree</a>
    <p><img src="assets/images/git/getting-started/sourcetree.jpg"></p>
    <p>
      It's like GitKraken but not as pretty. It's a bit outdated nowadays, despite still receiving updates. I don't see the
      point to be honest, GitKraken does the same thing but makes it a lot easier.
    </p>
  </li>
</ol>

<p>
  Once you've chosen a client, you will want one of these guides: I recommend following the CLI guide right the way through,
  even if you don't plan to use it. it will make some of the tricky SSH parts a bit simpler if you decide to use one of the
  other GIT clients instead, otherwise, be prepared for a little pain.
</p>

<ul>
  <li><a [routerLink]="['/tutorials', {outlets: {'tutorials-content': ['git>cli>getting-started']}}]">CLI</a></li>
  <li><a [routerLink]="['/tutorials', {outlets: {'tutorials-content': ['git>tortoise>getting-started']}}]">Tortoise</a></li>
  <li><a [routerLink]="['/tutorials', {outlets: {'tutorials-content': ['git>kraken>getting-started']}}]">Kraken</a></li>
</ul>