<p>
  <img src="assets/images/design/clockwork-game-design/strategy-game-learning-loop.png">
</p>
<ul>
  <li>A player is confronted with a choice.</li>
  <li>They make their decision and enter it via some input method.</li>
  <li>Some feedback occurs as this input is processed by the game's rules.</li>
  <li>An outcome is presented, usually a new game-state.</li>
  <li>Some understanding forms and gets mentally recorded by the player.</li>
  <li>A skill is formed and the player is informed for their next cycle through this loop.</li>
</ul>
<p>Uninformed, you could consider 100 possibilities for your next move in chess, while a pro has already written-off 75 of those
  as they're not optimal. The pro has a narrower scope to consider and can even afford to think more deeply about each option.
  A broad scope allows you to think more shallowly about each option, especially if time is a factor. Though, it's a double-edged
  sword. One of those hundred options could truly be the one you need. The pro may over-look that particular move. We refer
  to this type of decision-making as creativty.
</p>
<h2>Creativity</h2>
<p>This is the model we turn to when we have the flexibility or the humility to doubt the validity of our own model, usable
  as an informed, or near uninformed player. Our model is a replica we build in our own mind of a game's rule-set. The completeness
  of this model is a significant part of what makes a person good at a game, and games like it. A person with a more complete
  model of some game will have an advantage when coming across a similar game for the first time.</p>
<p>When a player makes a chioce, they first run it on their little, internal, mental simulator. The accuracy of that simulation
  is based on the completeness of their model.</p>
<p>Picture this: replicating your friend's house so well that they could wake up in it without realizing anything is unusual.
  You need maybe floor plans, sure, but also to experience that house too, to understand the finer details. Replicate without
  all this info, and you may be accurate enough.... but probably not.</p>
<p>This happens for a player's decision when testing it against their mental model, compared to the point where they execute
  their decision in the actual game.</p>
<p>Creativity is a fresh model, but it's unlike a gut-feeling or a whim. It should still be rational or feasible and based off
  your current model, otherwise we are not talking about creativity, rather: chaos.</p>
<h2>Feedback</h2>
<p>This is the sum of new game-state information after having made input.</p>
<p><b>Instant feedback:</b> This is observed right after making an input. This is the feedback that the player expected when they
  made their input. For example: moving a pawn forward in Chess. The new game-state was anticipated and expected by the player
  before and during their input.
</p>
<p>
  <b>Response feedback:</b> This is the unknown response to the player's input. For example: the enemy bishop moves to defend
  the rook. People build their models largely in thanks to this feedback phase.
</p>
<p>
  <b>Strategic feedback:</b> This is received immediately, like instant feedback, except not after a single move, rather after
  a series of moves equating to your strategy. The 3-turn victory in chess for example.
</p>
<p>
  <b>Final feedback:</b> This is observed post-game. It's the easiest to observe but difficult to gain much from without experiencing
  the strategic feedback that led up to that point. Strategic feedback is also meaningless without final feedback. Essentially,
  all feedback gets it's meaning from final feedback. For this reason, we say that the goal of the game is the anchor point
  around which the rest of the game revolves.
</p>
<p>Whether it seems like it or not, feedback and the strategy-game learning loop describe how game-fun works. We make choices,
  we get feedback, we understand better this makes us feel good. Exploring the game-space, trying things out, being
  creative, these are highly enjoyable activities for us humans. So from now on, when we say "fun", we'll be referring to
  this experience.
</p>
<p>The strategy-game learning loop is actually the one essential property that we need to be assured that our game works. People
  like the characters, the setting, music or some fun flavour-text, these are all legitimately valuable things that we're
  not wrong for enjoying, however, none of those qualities are essential to games. You can place these into any other medium
  and they'd have just the same value.
</p>