<ol class=numbered-page-menu>
  <a [routerLink]="['/tutorials', {outlets: {'tutorials-content': ['projects>vuforia-world-builder>part-a']}}]">
    <li>Part 1</li>
  </a>
  <a [routerLink]="['/tutorials', {outlets: {'tutorials-content': ['projects>vuforia-world-builder>part-b']}}]">
    <li>Part 2</li>
  </a>
  <a [routerLink]="['/tutorials', {outlets: {'tutorials-content': ['projects>vuforia-world-builder>part-c']}}]">
    <li>Part 3</li>
  </a>
</ol>