<p>
  Hopefully you are familiar with Git terminology or have read my guide,
  <a routerLink="../../what-is-git">What is Git?</a>, as I will be explaining here how to Clone, Stage / Commit / Push and Pull in GitKraken. I'll be looking
  at the basics that you need no matter which Git client you're working with, to explain how this terminology is put to use
  in GitKraken:
</p>

<ul>
  <li>
    <i>Clone</i> - Copy your repository from the
    <i>remote repository</i>.
  </li>
  <li>
    <i>Stage, Commit and push</i> - Send your work from your
    <i>local repository</i> to the
    <i>remote repository.</i>
  </li>
  <li>
    <i>Pull</i> - If your
    <i>local repository</i> is out of date due to changes pushed to the
    <i>remote</i> from somewhere else, grab those changes and merge them in to your
    <i>local</i>. This is mainly used if you've personally been working from several different computers, or if you're working
    with team members who have been pushing to the same branch. Always remember to pull before you start working for the
    day.
  </li>
</ul>

<h2>Clone</h2>

<ol>
  <li>
    <p>
      As with all Git projects, the first thing we need to do is Clone our project on to our computer. Copy your HTTPS address
      from GitLab (If you're aware of SSH, don't worry, I cover that too):
    </p>
    <p><img src="assets/images/git/kraken/workflow/clone.jpg"/></p>
  </li>
  <li>In GitKraken, browse to
    <i>File > Clone Repo</i>. Fill out the fields as required:
    <ul>
      <li>
        <b>Where to clone to:</b> Select the folder that holds all of your Git projects, for me this is
        <i>D:\dev.</i>
      </li>
      <li>
        <b>URL:</b> This is the address you just copied from GitLab.
      </li>
    </ul>

    <p><img src="assets/images/git/kraken/workflow/krakenclone.jpg"></p>

    <p>
      Hit the '
      <i>Clone the repo!</i>' button when ready to
      <i>clone</i>.
    </p>
    <p>
      It will probably ask you for your username and password, it's referring to your GitLab credentials. Either your email
      address or username will suffice.
    </p>

    <p><img src="assets/images/git/kraken/workflow/login.jpg"/></p>
    
    <p>
      All done, you'll see a progress bar, and when that's completed, you'll be able to see your entire history of commits. Note that for new projects, this will be quite empty.
    </p>
    
    <p><img src="assets/images/git/kraken/workflow/gitkrakenunleashed.jpg"></p>
  </li>
</ol>

<h2>Stage, Commit and push</h2>

<p>
  Remember that you can see all of your <i>commits</i> in your main project screen (see the above image). Keep an eye out for a certain <i>commit</i> that appears at the very top, it's a special commit called " <i>WIP</i>" and will ONLY appear when you have made changes to files in your project.
</p>

<p>
  <img src="assets/images/git/kraken/workflow/wip.jpg"/>
</p>  

<p>
  When you select this <i>commit</i>, your file viewer on the right-hand side becomes a <i>commit</i> dialogue. It will show you <i>un-staged</i> files that need to be moved into <i>staging</i>. This commit viewer also includes a field where you must input a <i>commit message</i>, and press the <i>commit</i> button.
</p>

<p>
  <img src="assets/images/git/kraken/workflow/krakencommit.jpg">
</p>

<ol>
  <li>Stage your files.</li>
  <li>Add a Message.</li>
  <li>Hit the green <i>Commit </i>button down the bottom.</li>
  <li>If your commit is successful, you can hit the '<i>Push</i>' button at the top of your GitKraken window:
    <p>
      <img src="assets/images/git/kraken/workflow/push.jpg">
    </p>  
  </li>
</ol>

<p>
  Now your data is all backed up on GitLab, safe and secure, you should notice your new commit appearing in the history log. Here is the entire process again in a single image:
</p>

<p>
  <img src="assets/images/git/kraken/workflow/krakencommitandpush.jpg">
</p>

<h2>Pull</h2>

<p>
  This part is nice and easy. It's the down-facing arrow button right-next to your <i>Push </i>button. It's a good idea to hit this button before you start your work, just to make sure you have the latest data on your machine. You don't want to be working on old / outdated files. If you're working between home and work, you'll use this button a lot if say you go to work and need to pull your data from home.
</p>

<p>
  <img src="assets/images/git/kraken/workflow/pull.jpg">
</p>

<p>
  That is pretty much all you need to know for working with GitKraken. As usual, contact me if you need more info. You may like to continue on to read about <a routerLink="../branching">branching in GitKraken</a>.
</p>