<p>This is the central mechanism, action or dynamic that encapsulates the spirit of the game, it's the spine or back-bone.</p>
<p>Core mechanisms can be hard to verbalize, in saying that, we should discern between a game that has no core mechanism and
  one whose core mechanism is merely difficult to describe.</p>
<p>
  <b>A core mechanism consists of 2 parts:</b>
</p>
<ul>
  <li>
    <b>Core Action:</b> The thing that you do primarily. In Mario, this would be jumping.</li>
  <li>
    <b>Core Purpose:</b> The reason you perform the core action. The thing that your core action accomplishes. It should be
    different from the goal. It should be a description of the basic decision-axis. Most decisions should be made with regard
    to the core purpose. In Mario, this would be traversing obstacles.
  </li>
</ul>
<p>You should be able to put them together in to a complete sentence. ' Jumping to traverse obstacles'is the core mechanism
  for Mario, NOT ' jumping-to-complete the level'.
</p>
<p>This thought process provides a metric by which we can judge the games other rules, We simply ask "Does this support the
  core mechanism?".Even toys, puzzles and contests are at least aided by a core mechanism.</p>
<p>In Mario, jump achieves traversal, modifying the score at the end flag-pole, smashing bricks and killing enemies. This is
  an example of multiple rules or supporting mechanisms supporting the core mechanism. The overall system is easy to observe,
  balance, and also easier for players to learn.</p>
<p>A lack of a core mechanism could be the reason for a game's difficulty to learn and play. A lack of respect to a core mechanism
  could see the rise of numerous semi-cores existing all at once with varying degrees of significance.</p>
<p>Balance is impossible with multiple competing cores. Even with 2, it's hard to make rules that support them both. Arguably,
  every human action only has 1 goal, even if there are other conditionals on that goal. Goals must be the ultimate expression
  of a core mechanism, thefore, it's impossible to have 2 core mechanisms with the same goal.</p>
<h2>What makes a good core mechanism?</h2>
<ul>
  <li>Easy to explain, having to say '
    <i>sort of</i>' or use qualifiers a lot could be a bad sign.</li>
  <li>Can sound thematic and fun but still be grounded in an actual mechanical action that takes place. '
    <i>Stomping on bad guys</i>' would be good, while '
    <i>being a hero</i>' is too vague.</li>
  <li>Should describe a single action, not a summary of many actions. '
    <i>Punching</i>' would be good, '
    <i>beating everyone up</i>', not so much.</li>
  <li>Should suggest depth. Ties to a system in a way that we could imagine vast possibility-space.</li>
</ul>
<p>The Clockwork pattern may have zero utility for judging existing games, it's really intended to help design better games
  in the future. Civilization 5 and Starcraft are complex, and also don't seem to have an obvious core mechanic with an action
  and a purpose. The Clockwork pattern is by no means a judge to say they are good or bad, but would assert that they're
  incredibly difficult to learn. Not just master, LEARN! Observe that a core mechanism is not a requirement to have something
  of value, this is about removing guesswork, trial/error and whims.</p>