<p>
  This could easily be on a separate page, but it does have something to do with lighting, so here we go. Firstly, a skybox is not necessarily a box, there are typically spherical, hemispherical, cuboidal, cylindrical and procedurally generated shapes. These shapes allow images to envelop your scene and try to give the illusion of a vast, expansive environment. In game-engines like Unreal and Unity, the skybox also effects the ambient lighting in your scene.
</p>

<p>
  <img src="assets/images/unity/skyboxes/dying-light-sky.jpg">
</p>

<p>
  Contrary to their name, they don't just show the sky, they can also show clouds, mountains, distant buildings, anything you think could belong in the background. Think of skyboxes as our go-to for backgrounds. We'll have a look at how to use some of the Skybox methods included with Unity.
</p>

<h2>Procedural</h2>

<p>
  <img src="assets/images/unity/skyboxes/procedural-result.jpg">
</p>

<p>
  This is the default skybox we see when we first open Unity, I've attached a flare texture to our DirectionalLight to emphasize the fact that the procedural skybox is designed to make our main directional light appear as though it was the sun.
</p>

<p>
  This, in my opinion is the simplest skybox to work with. It simply has a sky colour and a ground colour, those colours adjust based on the rotation of our directional light. Shining down on our scene, our skybox will appear to be sortof Midday. Shining upward from beneath our scene, the skybox will appear dusky like the night.
</p>

<p>
  To create a procedural skybox, and in fact, to create ANY skybox, we simply need to make a material and set it's shader to a skybox type.
</p>

<p>
  <img src="assets/images/unity/skyboxes/create-skybox-material.gif">
</p>

<p>
  Rename your material to "SkyboxProcedural". Notice that they interface for this is very simple, even self-explanatory:
</p>

<p>
  <img src="assets/images/unity/skyboxes/procedural-interface.jpg">
</p>

<p>
  Now to apply this material to our scene, we simply open the <i>Lighting Settings</i> window and right near the top we see where we can replace the current skybox material.
</p>

<p>
  <img src="assets/images/unity/skyboxes/replace-skybox.jpg">
</p>

<p>
  That's it, you have a functional, procedural skybox now. Tweak your material and you'll instantly see your skybox updating in your editor.
</p>

<h2>6 sided</h2>

<p>
  Next we'll look at the 6 sided skybox, this one is more of a literal <i>box. </i>All 6 sides of a cube are given a separate image. Create a new skybox material, instead of procedural you will set the material's shader to be of type 6 sided. This interface is a little more daunting, though it's fundamentally much simpler.
</p>

<p>
  <img src="assets/images/unity/skyboxes/six-sided-interface.jpg">
</p>

<p>
  It's asking for 6 textures, one for each side of the box/cube. We'll grab a set from the asset store for now. Open your <i>Asset Store </i>via
  <i>Window&gt;Asset Store </i>and search for <i>skybox</i>. The first thing that shows up should be adequate and free. Click it, download it and import it.
</p>

<p>
  Now start filling out the textures that are required for our material's front, back, left, right, up and down faces.
</p>

<p>
  <img src="assets/images/unity/skyboxes/six-sided-interface-filled.jpg">
</p>

<p>
  Drag this material into the skybox field in your <i>Lighting Setting </i>and et voila, good to go!
</p>

<p>
  <img src="assets/images/unity/skyboxes/six-sided-result.jpg">
</p>

<h2>Cubemap</h2>

<p>
  The last skybox type we'll look at is the cubemap. This requires an HDR background image, grab an image from google after searching for <i>hdr skybox.</i>
</p>

<p>
  <img src="assets/images/unity/skyboxes/hdr-sky.jpg">
</p>

<ol>
  <li>
    Create a new skybox material of type <i>Cubemap </i>and you'll notice it takes a unique type of texture known as a cubemap.
  </li>
  <li>
    Observe the texture you grabbed from google, in the inspector you can change it's <i>TextureShape </i>to cube instead of 2D.
  </li>
  <li>
    You can now apply this texture as is to the <i>cubemap </i>property on your skybox material.
  </li>
  <li>
    Simply assign this material to the skybox field in your <i>Lighting Settings </i>window, and you're all done.
  </li>
</ol>

<p>
  <img src="assets/images/unity/skyboxes/cubemap-result.jpg">
</p>