<div *ngIf="isAuthenticated" class="help-text">Click for fullscreen</div>
<div class="unity-container">
    <div *ngIf="!isAuthenticated">
        <input id="password" placeholder="password" type="password" name="text" autocomplete="off">
        <button (click)="test()">Go!</button>
    </div>
    <iframe style="display:block" *ngIf="isAuthenticated" class="frame" id="unity-iframe" src="assets/webgl/SoundBath/index.html" frameborder="0"
    scrolling="no"></iframe>
</div>
<div *ngIf="isAuthenticated" class="help-text">Click for fullscreen</div>