<p>
  <span style="color:#ff0000;">NOTE: THIS IS NOT AN IMPORTANT STEP TO WORKING WITH GIT!</span> This is for people who don't like having to key in their username and password when using git. If you've followed my guide, <a routerLink="../../cli/">Getting Started with Git CLI for windows (Git Bash)</a>, then you already have an SSH Key, and can simply follow this gif:
</p>

<p><img src="assets/images/git/kraken/ssh/krakensshsimple.gif"></p>

<p>
  Of course, the path you see will have YOUR username in it, not Regan (MY username). Anyway.... that's done.
</p>

<h2>What if I didn't have SSH setup from the terminal before-hand?</h2>

<p>
  I still think a couple lines of code in GitBash is nothing to complain about when setting up SSH, compared to Tortoise anyway. But GitKraken gives the terminal a run for it's money here.
</p>

<ol>
  <li>
    <p>
      Browse to <i>File > Preferences > Authentication</i>, hit the <i>Generate</i> button, and when it asks you where you'd like to store it, just choose somewhere that makes sense to you, I would choose my <i>dev</i> folder, as this holds all of my Git projects:
    </p>
    <p><img src="assets/images/git/kraken/ssh/krakenssh1.jpg"></p>
    <p>
      Lastly, hit the <i>copy-to-clipboard</i> button to the right of the '<i>SSH Public Key</i>' field and that's all you need to do in GitKraken.
    </p>
  <li>
    <p>
      You have your SSH Key copied, now you just need to paste it in to GitLab as demonstrated below:
    </p>
    <p><img src="assets/images/git/kraken/ssh/applysshkey.gif"></p>
    <p>
      That's it. This is the slightly more complicated route, but still easy enough, and easier than Tortoise.
    </p>
  </li>
</ol>

<p>
  Now that you've got your Kraken all nicely set-up, you probably want to know about <a routerLink="../workflow">Working with GitKraken for Windows</a>.
</p>