<p>
    Hopefully at this stage you understand how lerps work. We derive a value between 2 other values by a fraction (0-1).
</p>

<p>
    Inverse lerps are, as implied, the opposite. They derive a fraction (0-1) between two values by observing a value between those two values.
</p>

<p>
    That actually takes me a couple reads to absorb, and I'm already familiar with the concept. Let's look at more visual examples.
</p>

<h3>Lerp</h3>

<p>
    <img src="assets/images/unity/code-practices/inverse-lerp/lerp-basic-example.gif">
</p>

<h3>Inverse Lerp</h3>

<p>
    <img src="assets/images/unity/code-practices/inverse-lerp/lerp-inverse-basic-example.gif">
</p>

<p>
    To be honest I wouldn't expand on the idea much more than that. Let's look at a game-feature example. Take the following code:
</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">private</span> <span style="color:#4ec9b0;">Vector2</span> minMaxPosition <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">new</span> <span style="color:#4ec9b0;">Vector2</span>(<span style="color:#b4b4b4;">-</span><span style="color:#b5cea8;">2</span>, <span style="color:#b5cea8;">2</span>);
    <span style="color:#569cd6;">private</span> <span style="color:#4ec9b0;">Material</span> material;

    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> <span style="color:#569cd6;">Awake</span>() &#123;
        material <span style="color:#b4b4b4;">=</span> GetComponent&lt;<span style="color:#4ec9b0;">Renderer</span>&gt;()<span style="color:#b4b4b4;">.</span>sharedMaterial;
    &#125;

    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> <span style="color:#569cd6;">Update</span>() &#123;
        material<span style="color:#b4b4b4;">.</span>color <span style="color:#b4b4b4;">=</span> <span style="color:#4ec9b0;">Color</span><span style="color:#b4b4b4;">.</span>Lerp(
            <span style="color:#4ec9b0;">Color</span><span style="color:#b4b4b4;">.</span>blue
        ,   <span style="color:#4ec9b0;">Color</span><span style="color:#b4b4b4;">.</span>red
        ,   <span style="color:#4ec9b0;">Mathf</span><span style="color:#b4b4b4;">.</span>InverseLerp(minMaxPosition<span style="color:#b4b4b4;">.</span>x, minMaxPosition<span style="color:#b4b4b4;">.</span>y, transform<span style="color:#b4b4b4;">.</span>position<span style="color:#b4b4b4;">.</span>x)
        );
    &#125;

</pre>

<p>
  You can see that only one aspect of this script is demonstrating the use of an inverse lerp. Seeing as an inverse lerp GIVES US a fraction, I'm using it WITHIN A LERP to fill the fraction parameter.
</p>

<p>
    The initial lerp interpolates our object's colour between red and blue by some fraction. We derive that fraction using our Inverse lerp which observes our object's x position between a minimum and maximum x position. Et voilà:
</p>

<p>
    <img src="assets/images/unity/code-practices/inverse-lerp/inverse-lerp.gif">
</p>
