<h2>Problems?</h2>

<ol>
    <li>We only seem to be seeing one character... shouldn't there be 2? Well, there are, they're just in the exact same place and both of them have the exact same <mark>PlayerController</mark> script on them so if one person presses their <mark>WASD</mark> buttons... it applies to both...</li>
    <li>
        Try to move around on your HOST instance... it works, right? The character also moves on the client. But, when you try moving on the client instance... you'll notice the server doesn't seem to obey... this is because the server has authority over the players that are spawned. We need to pass that authority to each of our respective clients instead.
    </li>
</ol>

<h2>Let's address these one at a time</h2>

<h3>There only appears to be one character</h3>

<p>There are 2, see in your inspector:</p>

<p>
    <img src="/assets/images/unity/networking/unet/troubleshooting/2PlayersConfirmed.JPG">
</p>

<p>The reason we don't SEE 2 player characters in the 3D world is because they're spawning in the exact same location, and both are moving when we provide input. To fix this precise issue and ONLY this issue (only one player seeming to spawn) we can simply set alternative spawn-points.</p>

<ol>
    <li>Create a new empty <mark>GameObject</mark>. Name it 'SpawnPoint'.</li>
    <li>Add A <mark>NetworkIdentity</mark> component.</li>
    <li>
        Add A <mark>NetworkStartPosition</mark> component.

        <p><img src="/assets/images/unity/networking/unet/troubleshooting/SpawnPoint.JPG"></p>
    </li>
    <li>
        <p>
            Turn this into a prefab. Add that prefab to your <mark>NetworkManager</mark>'s <i>Registered Spawnable Prefabs</i> list.
        </p>
        <p><img src="/assets/images/unity/networking/unet/troubleshooting/RegisterSpawnPoint.JPG"></p>
    </li>
    <li>Duplicate the prefab that's already in your scene. Move it somewhere away from the first one.</li>
</ol>

<h3>Next problem, only the server is controlling a player!</h3>

<p>There are <b>3 forces</b> at work here, all of which can be seen on the player prefab:</p>

<ol>
    <li><mark>NetworkIdentity</mark> is not set to provide each client with authority over their own respective characters.</li>
    <li>
        <mark>NetworkTransform</mark> is set to only transmit positional updates if our transform has moved by a certain amount. If nobody is moving it on it's respective client, it doesn't bother informing the server.
    </li>
    <li><mark>PlayerController</mark> is accepting input from anyone whose game it happens to be spawned in... seeing as it's spawned separately on each person's computer... well... unless it belongs to that player, it should only obey the version of itself running on the server.</li>
</ol>

<h4>Force #1: NetworkIdentity</h4>

<p>This is a really easy fix. Simply select the prefab for your <mark>PlayerController</mark>. On the <mark>NetworkIdentity</mark> component, enable <mark>Local Player Authority</mark>.</p>

<p>If you test this now, you'll find it half-fixes it... try to move the character in the host... then try to move it in the client...</p>

<p>If we move one on either instance, the OTHER instance correctly receives ONLY data for the one that was meant to have moved. However... the instance that's moving its player ends up moving both players LOCALLY. At least the instance we AREN'T MOVING is now receiving the right information... 
</p>

<h4>Force #2: NetworkTransform</h4>

<p>
    We can partly fix the problem left over from Force #1, but there is actually no need to... let's fix it anyway just so that we learn. On the <mark>PlayerController</mark> prefab, check your <mark>NetworkTransform</mark> component. You'll notice this property:
</p>

<p>
    <img src="/assets/images/unity/networking/unet/troubleshooting/MovementThreshold.JPG">
</p>

<p>
    Basically, between any number of our players, the one who SHOULD be in-charge of their respective player is not bothering to assert their authority unless their player moves by a certain amount. We can fix this by setting the threshold to a flat zero. This means that even when no movement is detected, it will instruct the server anyway.
</p>

<p>
    If you implement this fix and test again, you'll notice that while each player LOCALLY attempts to move all players in the game... it snaps back to where it's MEANT to be once it receives its REAL position on the server again.
</p>

<p>
    <img src="/assets/images/unity/networking/unet/troubleshooting/MovementThresholdBadFix.gif">
</p>

<p>
    The reason I say this fix doesn't need to be done is because this multi-character-control issue wouldn't be happening anyway if only we cleverly prevented the input through our <mark>PlayerController</mark> script instead... It doesn't really fix anything anyway, you'll get the result described here only on a host, the server itself is still capable of moving both characters which makes this NOT a fix... more of a point-of-interest.
</p>

<p><b>Seeing as this doesn't actually solve anything, but DOES introduce the potential for unnecessary lag, learn from this but set the <mark>Movement Threshold</mark> back to 0.001.</b></p>

<h4>Force #3: PlayerController</h4>

<p>
    It's possibly a better idea to introduce a separate manager script for this, but we'll go ahead and build this straight into the <mark>PlayerController</mark> for now. Open the <mark>PlayerController</mark> script in <mark>Visual Studio</mark>, instead of deriving from <mark>MonoBehaviour</mark>, we'll derive from <mark>NetworkBehaviour</mark>. <mark>NetworkBehaviour</mark> derives from <mark>MonoBehaviour</mark> so it won't hinder your ability to use your usual Unity functionality through script. <mark>NetworkBehaviour</mark> is only available via the <mark>UnityEngine.Networking</mark> namespace so you'll need to include the using statement for that. The top of your script should look like this:
</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">using</span> UnityEngine;
    <span style="color:#569cd6;">using</span> UnityEngine<span style="color:#b4b4b4;">.</span>Networking;
        
    <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">class</span> <span style="color:#4ec9b0;">PlayerController</span> : <span style="color:#4ec9b0;">NetworkBehaviour</span> &#123;

</pre>

<p>Next we can disable this <mark>PlayerController</mark> script entirely on machines that aren't meant to have authority over them.</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> <span style="color:#569cd6;">Start</span>() &#123;
        enabled <span style="color:#b4b4b4;">=</span> isLocalPlayer;
    &#125;

</pre>