<p>
  When you need special effects of some kind, particles are a good go-to.
</p>

<p>
  <img src="assets/images/unity/particle-systems/get-the-cake.gif">
</p>

<p>
  See if you can identify 3 particles effects in the above gif.
</p>

<p>
  Now, when you first create a particle system, you get something mostly useless...
</p>

<p>
  <img src="assets/images/unity/particle-systems/default-particles.gif">
</p>

<p>
  Observe it in the inspector, and there are a couple things I'd like to point out.
</p>

<p>
  Firstly, there are a LOT of expandable settings.
</p>

<p>
  Secondly, you can write-off the need to understand them all by first understanding that many of these settings can be remembered by thinking of them as groups.
</p>

<p>
  <img src="assets/images/unity/particle-systems/particle-properties-simplified.jpg">
</p>

<p>
  So how about using it to achieve something? Let's go for fire. That's nice and simple. Create a particle system and we'll begin tweaking.
</p>

<ol>
  <li>
    First I reduce the <i>StartLifetime</i> from 5 down to 1. If we imagine these are flames, we ask how long should a single flame's flicker last on the screen? I still feel like 1 second is too long, but we'll see later...
  </li>
  <li>
    I increase the <i>StartSpeed</i> to 8. If my particles are dying faster, thanks to step 1, then in order for my flames to achieve any height before they die, I need them to move faster.
  </li>
  <li>
    I increase my <i>StartSize</i> to... 4. This closes the space I had in between all my particles, I'm gonna aim for a nice thick wall of flame. I will leave the <i>Start Colour</i> at <i>White </i>for now, the colour will be a property I prefer to change over time.
  </li>
  <li>
    Now check the <i>Emission </i>drop-down. I think a steady <i>RateOverTime </i>of 20 should be fine.
  </li>
  <li>
    Under the <i>Shape </i>drop-down, we'll reduce the <i>Angle </i>to zero and the <i>radius</i> to 0.5, this will prevent the cone-like path our particles were taking before, it will also reduce the spawn area of our particles, but still give them enough space to spawn in random places on the ground.
  </li>
  <li>
    <p>
      Enable the checkbox for the <i>ColourOverLifetime </i>drop-down, and now check the settings for this. Try to change the colour, and notice that a gradient appears. You can click immediately beneath the gradient to add more colour markers, click on any colour marker to change which colour it appears as. Clicking ABOVE the gradient will add a transparency marker, but we don't need any of those for now.
    </p>
    <p>
      <img src="assets/images/unity/particle-systems/gradient.jpg">
    </p>
    <p>
      Feel free to design your own gradient, I decided to have a saturated, dark orange at the base of my fire, easing into a glowing yellow, and it'll finish off as blue because... I want it to. Observe my fire thus far.
    </p>
    <p>
      <img src="assets/images/unity/particle-systems/fire-after-gradient.gif">
    </p>
  </li>
  <li>
    <p>
      I'll next enable the <i>SizeOverLifetime</i> drop-down, and click the curve I find in the settings there. You'll notice this comes up as a curve if I check the previewer. Notice that I select one of the presets, but you can manually drag points on this curve if you like. The preset I chose means that particles will be large to begin with, and get smaller throughout their lives.
    </p>
    <p>
      <img src="assets/images/unity/particle-systems/size-over-lifetime.gif">
    </p>
  </li>
  <li>
    <p>
      Next, I'll enable the <i>Noise </i>drop-down and as this is a new feature in the latest version of Unity, I'll just show the settings that I was happy with. What's important for you to know is that I was aiming to use noise to create some random turbulence for my flames as they ascend.
    </p>
    <p>
      <img src="assets/images/unity/particle-systems/noise.jpg">
    </p>
    <p>
      You can see that the last 3 settings define how much effect our noise has on position, rotation and size, while other settings are more for defining the noise pattern that dictates all of this.
    </p>
    <p>
      <img src="assets/images/unity/particle-systems/after-noise.gif">
    </p>
  </li>
  <li>
    <p>
      I think I've decided to reduce my <i>StartSpeed</i> and <i>StartSize</i>, and increase my StartLifeTime. I've also increased my Emission's <i>RateOverTime</i> and reduced the radius of my Cone's <i>Shape</i>. In my birth settings, I've also enabled <i>pre-warm</i> so that when I run my game, my fire is already in burning and doesn't need to 'warm up'.
    </p>
    <p>
      <img src="assets/images/unity/particle-systems/a-few-tweaks.gif">
    </p>
  </li>
</ol>

<p>There's plenty more you can do with particles, but it's better to simply play with the settings to understand what they all do. Have fun!</p>

<h4>Resources</h4>

<ul>
  <li>
    <a href="https://www.gamasutra.com/blogs/DavidFinseth/20180216/314707/Creating_2D_Particle_Effects_in_Unity3D.php">2D particle effects in Unity</a>
  </li>
</ul>