<p>When we undergo level design, we are not talking about themed buildings, trees, rocks or anything like that, we are talking
  mostly, similar to wireframes, about size and placement. 2D platformer levels should be describable with squares, while
  a 3D FPS level should be perfectly describably with cubes.</p>
<p>A level is NEVER a set of completed assets to begin with. Assets, whether 2D or 3D take time to create, and aren't needed
  for level design at all. The goal of level design is not to create eye-candy, but to create a challenging learning experience.
  We always begin with this process of greyboxing.</p>
<p>
  <img src="assets/images/design/level-design/greybox-to-complete.gif">
</p>
<p>
  <img src="assets/images/design/level-design/naughty-dog-prototype-level.jpg">
</p>
<p>Some greyboxing will be more complex than others, Ultimately it's great if you have some assets available, or even if you
  can elaborate on windows and such with some basic Maya abilities, however you should be perfectly capable of representing
  a complete level by scaling, rotating and positioning squares/boxes.</p>
<p>Worry about deeper elaboration later. Take these:</p>
<p>
  <img src="assets/images/design/level-design/level-layout.jpg">
</p>
<p>
  <img src="assets/images/design/level-design/kamikaze.gif">
</p>
<p>These are perfectly acceptable representations that give us an idea of the sortof space the player will have to run around
  in, and the kinds of obstacles they could encounter. It's very malleable with no retreat cost. If anything needs to be
  changed, simply move it. Nobody is required to redraw any art from scratch or waste precious hours on any other visual
  adjustment. There's plenty of time later to let it turn in to this:</p>
<p>
  <img src="assets/images/design/level-design/level-post-design.png">
</p>
<p>
  <img src="assets/images/design/level-design/level-post-design-ai.gif" class="im-lg">
</p>
<p>Consider the rules of your game, and the type of play you want to encourage. There are certain guidelines to help with this,
  such as a horror game, you should try as often as possible to always maintain that wherever you stand, there should be
  an obscured or corridor somewhere within your immediate area with which to spring surprises or not. Alternatively, you
  can create suspense in tight places if the character movement is hampered in some way, they could be crawling through a
  busted laundry shoot while they hear their mysterious assailant's footsteps slowly getting closer... and closer.</p>
<p>An FPS multiplayer game benefits greatly form having a diverse environment that caters to various play types. Have some enclosed,
  close-quarter areas for the close-range shotgunners, some long range corridors for the snipers, some boxed off arenas for
  the mid-range machine gunners, and ALWAYS try to make a back entrance to every part of the map so that people can never
  assure themselves victory by simply aiming in one direction. Keep players on their toes and watching their backs, or even
  encourage teamwork this way.</p>
<p>
  <a href="http://adam.hoggatt.me/level-design/">A level-designer's portfolio</a>
</p>
<p>Level design, even though it should primarily involve the manipulation of squares and cubes, is nothing short of an art form</p>
<p>
  <a href="http://www.gamasutra.com/blogs/ViktorEisenmann/20140918/225982/PT_Silent_Hills_teaser_game_analysis.php">PT Silent Hill's teaser game analysis</a>
</p>
<p>You'll find it's a very heavily and openly discussed topic with a lot of ins and outs</p>
<p>
  <a href="http://www.worldofleveldesign.com/categories/wold-members-tutorials/peteellis/seeing-the-world-as-level-designer.php">Seeing the world as a level-designer</a>
</p>