<p>
  <span style="color:#ff0000;">NOTE: THIS IS NOT AN IMPORTANT STEP TO WORKING WITH GIT!</span> This is for people who don't like having to key in their
  username and password when using git.
</p>
<p>
  Now we want to set up SSH to be able to access our remote repository without a password.
</p>

<p>
  Right click anywhere on your desktop and open Git Bash:
</p>

<p>
  <img src="assets/images/git/cli/ssh/gitbash.gif"/>
</p>

<p>
  Now you want to type a series of git commands:
</p>
<ol>
  <li>Type this using your email address tied to your GitLab account:
    <p>
      <code>ssh-keygen -t rsa -C <span class="s2">"email@email.com"</span></code>
    </p>
    <p>
      This command will prompt you for a location and filename to store the key pair and for a password. When prompted for the
      location and filename, just press enter to use the default. If you use a different name, the key will not be used automatically.
    </p>
  </li>
  <li>Now one last command will copy this key for you so that you can paste it in to GitLab:
    <p>
      <code>cat ~/.ssh/id_rsa.pub | clip</code>
    </p>
  </li>
  <li>Go to GitLab and under <i>Profile Settings > SSH Keys</i>, paste your key in, providing a name as well. The whole process looks like this:
    <p>
      <img src="assets/images/git/cli/ssh/sshkeys1.gif"/>
    </p>
  </li>
</ol>
<p>
  That's it. All set up. Now you can browse to your project on GitLab and clone your project to your machine by browsing to
  your folder of choice, right-clicking to open up GitBash, and running the following command:
</p>
<p>
  <code>git clone git@server:namespace/project.git</code>
</p>
<p>
  replacing that last part with your project's SSH address found on GitLab:
</p>
<p>

</p>
<img src="assets/images/git/cli/ssh/cloneaddress.jpg"/>
<p>
  After that, you are free to commit, push, pull and change branches to your hearts content. For more Git commands, see my other two posts on this topic:
</p>
<ul>
  <li>
    <a routerLink="../tasks-simplified/">Git Tasks (simplified)</a>
  </li>
  <li>
    <a routerLink="../common-git-commands/">Common Git Commands</a>
  </li>
</ul>