<p>Happy team, happy product, happy users. People strive when their needs are met in the work environment. Take Maslow's hierarchy
  of needs:</p>
<img src="/assets/images/understanding-our-users/corporate-perspective/maslow-hierarchy-of-needs.jpg">
<p>Practicing this respect for each other is one way to encourage a strong team that will instinctively understand how to work
  their craft to suit their users. When making a game, or any product, we have to consider all these things for our users:</p>
<ul>
  <li>Art</li>
  <li>Technology</li>
  <li>Politics</li>
  <li>Culture, race and ethnicity</li>
  <li>Age</li>
  <li>Gender</li>
  <li>Majorities and Minorities</li>
  <li>Marketplace</li>
  <li>All kinds of trends</li>
  <li>Business opening, closing, being sold-off, taken over</li>
  <li>War</li>
  <li>Environmental change</li>
  <li>Mental and physical health</li>
  <li>Family well-being, etc.</li>
</ul>
<p>When you're working professionally you need to maintain a cultural awareness and technology has kind-of suffered from being
  locked in the dark for a really long time. If you're not looking after your team's cultural awareness and sensitivities,
  bad things can happen.</p>
<img src="assets/images/understanding-our-users/corporate-perspective/s-my-d.png">
<p>If anything, we just keep in mind to be aware of changes and keep up with them.</p>
<p>There's plenty of modern data on who's playing what, why, how, when and where, but these stats are useless to us if we aren't
  finding out how they got here, and what took so long for them to get this way.
</p>
<p>Just an example of the types of changes that may interest us, have a look at 'pink games', games that were 'targeting' girls.</p>
<img src="assets/images/understanding-our-users/corporate-perspective/pink-games.jpg">
<p>
  <iframe class="youtube" src="https://www.youtube.com/embed/4GKZ-u0cJsI" frameborder="0" allowfullscreen></iframe>
</p>
<p>Late 80s, early 90s there was a boom for pink games.</p>
<p>A problem needed to be solved, players were mostly boys, revenue was missing for an entire gender, supposedly 50% of a potential
  audience. Games at this point were not targeted at boys, but during this time, games came along that WERE targeting girls.
</p>
<p>Tapping into a female audience wouldn't have been a concern if it wasn't for the 'video games crash of 1983'. Video games
  weren't selling, they weren't seeming to be anything that would be around for very long. The solution they sought was to
  sell games, not on their own, but as an augmentation to the sales of toys. Basically, toys were already popular, so we
  need games that support them. Toys have been traditionally gendered (boys play with trucks, girls play with doll-houses).
  This binary was basically introduced to games by toys. Now we had a concept of some games being for girls and some for
  boys. So a few events and very conscious decision making had to happen for this to occur. Enter feminism and the LGBT movement,
  now referred to as LGBTQ, and we have a lot of people in society deciding they don't want gender descriptions anymore,
  or that they want their preferred identity acknowledged. Fair enough. Also, we have a few more things to consider now when
  identifying our audience and their expectations.</p>
<p>
  <img src="assets/images/understanding-our-users/corporate-perspective/unexpected-stats.png">
</p>
<p>Things change, what we learn about our audience from one year to the next will often yield different results. While we're
  talking about it, look at how gamers are viewed in the modern day compared to how they used to be. The term 'nerd' was
  often used, nowadays it seems publicly acceptable to play games. Mobile gaming has introduced games to people who weren't
  so interested before, we have what are called 'casual players'.</p>
<p>Some common questions to ask when considering who our game is</p>
<ul>
  <li>Who's buying our game?</li>
  <li>Why?</li>
  <li>Who are they buying it for?</li>
  <li>What sort of friends and family do they have?</li>
  <li>Will they tell people about our game?</li>
  <li>Do people know our game exists, even if they don't intend to buy it or even play it?</li>
  <li>Will people want more?</li>
</ul>
<p>
  These are mostly questions we can find out by acknowledging the above parameters. It's a lot to think of all at once and
  while it can be tricky, sometimes unrealistic to have all of these aspects in a single game, by simply considering these
  aspects of your users, you will design more successful games.</p>
<p>Let's take an easy one: color blindness. Straight away, we realize that
  <a href="http://mkweb.bcgsc.ca/colorblind/">there are things we can do about this</a>
</p>
<p>Okay, verbose article. The gist is that there are different types of color blindness, some more common than others. By implementing
  a
  <a href="https://docs.unity3d.com/401/Documentation/Components/script-ColorCorrectionLut.html">CLUT</a> (Colour Look Up Table), we get a color-blindness mode that makes your game playable, let-alone enjoyable by colour-blind
  individuals.
</p>