<p>
  <img src="assets/images/design/clockwork-game-design/full-core.png">
</p>
<h2>Secondary and Tertiary mechanisms</h2>
<p>
  Supporting mechanisms split into <b>secondary</b> and <b>tertiary</b> mechanisms.
</p>
<p>
  <b>Secondary</b> mechanisms are the <i>first layer</i>. They connect to the core directly. These are allowed to be large in scope.</p>
<p>
  <b>Tertiary</b> mechanisms support the core and are very lightweight and minor. They don't connect directly to the core and
  some games don't need them. Consider re-thinking / removing any mechanisms beyond tertiary.</p>
<p>Once you have a core and a goal, you can start critically thinking about the relevance and importance of supporting mechanisms.
  Again, the most important question is '<i>does this support the core?</i>'. You want each supporting mechanism to handle as many
  tasks as possible.</p>
<p>Do the most with the least. A good <i>double-edged-sword</i> mechanism will usually have a good (as in it gets the player closer
  to the goal) and a bad quality for any change to it's state.</p>
<p>Imagine if in chess, the core was all we had: <i>Positioning to take control in order to checkmate the king</i>.
</p>
<p>We need some kind of game-piece to position and some sort of space to have positioning. Perhaps we see:</p>
<ul>
  <li>An endless grid.</li>
  <li>All pieces are generic stone pieces that can move one tile in any direction per turn.</li>
  <li>One of these pieces has to be the king.</li>
</ul>
<p>No games are devoid of supporting mechanisms. This game technically works, but it's far less interesting than Chess.
</p>
<ul>
  <li>An 8x8 grid limits the distance a player can go and allows a player to reduce an opponent's territory.</li>
  <li>It has a turn-based structure (I move a piece, then you move a piece).</li>
  <li>It has different unit types, each with their own movement and capture capabilities.</li>
</ul>
<p class="red">
  It's quite difficult to find anything in chess that doesn't support the core. Chess was refined over time. Even without the
  concepts we describe, polishing a system for long enough will result in a core emerging over time.
</p>
<h2>Supporting a phantom core</h2>
<p>A phantom core is what a supporting mechanism supports when it's added without the real core in mind. If you add <i>attacking</i> to a game about clever trading where the core is '<i>evaluating and trading money and paintings to obtain the most wealth</i>', attacking does not seem to support the core, rather it seems to support something else that isn't there, perhaps implying a health system with a new, alternative goal of reducing another player to zero health. Imagine playing a game of Chess wherein players must balance a balloon over their head while they play. If the ball touches the ground, the person who did so will lose. Most players would say "Can we just play chess without the balloon?". The balloon does not feed back to the core and has nothing to do with the
  strategic game.</p>
<p>Avoid multiple, unrelated goals in your games, instead, put multiple constraints or conditions on one clear goal. Keep players focused entirely on strategy as opposed to choosing goals.</p>