
<p>The <b>core mechanism</b> is what a player does in a system.</p>
<p>The <b>goal</b> is the anchor that gives all other parts their meaning.</p>
<p><b>Supporting mechanisms</b> are everything else. Also they must support the core.</p>
<p>The core mechanism + goal can be called the full core.</p>
<p><b>Core</b> = Attacking to knock the opponent back.</p>
<p><b>Full Core</b> = Attacking to knock the opponent back in an attempt to knock them out of the ring.
</p>