<p>The animation system in Unity is known as MecAnim. It's difficult to write about, and even to demonstrate in reality because
  our language operates in a linear fashion. This is perfect for telling stories which progress from point-A to point-B quite
  clearly. Systems like this are closer to machine cogs.
</p>
<p>
  <img src="assets/images/unity/animation/clockwork-gears.png">
</p>
<p>We need to know about each aspect of animation in Unity before we can make sense of the mechanism as a whole. You need to
  learn about each of the cogs to find out what they really do.
</p>

<ul>
  <li>Animation Window (timelines)</li>
  <li>Animator Window (graphs)</li>
  <li>Events</li>
  <li>Animator component</li>
  <li>Controllers</li>
  <li>Parameters</li>
  <li>Conditions</li>
  <li>Blend trees</li>
</ul>

<p>Let's start with animating in the most basic way possible.</p>

<ol>
  <li>Create a box in your Unity scene, rename your new cube to <i>AmazingBox</i>.</li>
  <li>Open the Animation window (<i>Window > Animation</i>).</li>
  <li>
    <p>
      With your box selected, the Animation Window should appear empty, except it should include a "Create" button in the center.
    </p>
    <p>
      <img src="assets/images/unity/animation/empty-animation-window.jpg">
    </p>
  </li>
  <li>
    Hitting the '<i>Create</i>' button will open a dialogue asking you where to place it. Please place it in your Animations folder, if you don't have one: make one. I would usually name my animations by the object I am animating, and the task i expect this animation to fulfill. For example: <i>AmazingBoxIdle</i>, as I will be animating the <i>AmazingBox</i> object, and the animation will fulfill the task of being <i>Idle</i>.
  </li>
  <li>
    <p>
      Take note of the two files created from this.
    </p>
    <p>
      <img src="assets/images/unity/animation/generated-anim-files.jpg">
    </p>
    <p>
      Don't worry about the first one, it will make sense soon, but the second one (<i>AmazingBoxIdle) </i>is the animation clip we just chose to save. You will also notice that our Animation window has a functioning time-line in it now.
    </p>
  </li>
  <li>
    <p>
      Notice that our Animation window actually has a functional timeline in it now. You can navigate left/right on the time-line by click-dragging the middle-mouse button. You can zoom in/out to see more or less time by using your scroll-wheel.
    </p>
    <p>
      <img src="assets/images/unity/animation/new-timeline.jpg">
    </p>
    <p>
      Notice the clip list at the top-left, the one that has the animation name: '<i>AmazingBoxIdle</i>'<i>. </i>This let's us know which animation clip we're editing. To complete this step, click the '<i>Add Property' </i>and Select the '+' symbol after browsing through<i>Transform > Position</i>. This will have created 2 keyframes on your timeline. Leave these keyframes alone for now, our idle animation shouldn't have any motion on it, it just needs these still keyframes to ensure this.
    </p>
    <p>
      Keyframes can be dragged left/right to adjust timing, they can be copy/pasted, or even deleted.
    </p>
  </li>
  <li>
    Next we'll make a new animation. This will be a walk animation, as opposed to our idle. Remember the thing from the previous step that I called the clip list? Click that, it'll become a dropdown with a list of present animation clips, at the bottom you'll see the option to create a new animation clip, go ahead, do that, and following our previous naming convention, this one will be called: <i>AmazingBoxWalk</i>.
  </li>
  <li>
    <p>
      Notice the red Record icon at the top-left of our Animation window, this means that any property we adjust in the inspector for this object will be recorded to the timeline as a keyframe. which is good, we want that for animating our walk. Simply grab your AmazingBox in the Unity Scene View and drag it somewhere, you should instantly see your Animation window update with a keyframe on the timeline.
    </p>
  </li>
  <li>
    <p>
      You should have a timeline that sortof like this now, with keyframes:
    </p>
    <p>
      <img src="assets/images/unity/animation/timeline-with-keyframes.jpg">
    </p>
    <p>
      A word of advice would be to make your Start and End keyframes identical, so that it loops nicely. You can scrub along your timeline by clicking the numbered area at the top of your animation window. You can also preview your animation at this point by hitting the play button in the Animation window.
    </p>
  </li>
</ol>