<p>
  In most cases, there is a GUI client application available for helping you work with GIT, otherwise, GIT is operated via
  shell commands in the command line. Here is a list of commonly useful GIT commands for use with GIT Bash.
</p>
<ul>
  <li>
    <code>git clone sshAddressToClone</code>
    <ul>
      <li>Clones the specified project in to the current directory.</li>
    </ul>
  </li>
  <li>
    <code>git fetch</code>
    <ul>
      <li>A non destructive way to update your local from the remote. Receive all changes without merging them to your current
        branch.</li>
    </ul>
  </li>
  <li>
    <code>git merge</code>
    <ul>
      <li>Merge remote changes received by
        <code>git fetch</code> to your local changes.</li>
    </ul>
  </li>
  <li>
    <code>git pull</code>
    <ul>
      <li>A shortcut for fetching and merging in a single command. Recommended for efficiency where caution is not strictly needed.</li>
    </ul>
  </li>
  <li>
    <code>git push</code>
    <ul>
      <li>Send your committed changes from your current branch, to the server.</li>
    </ul>
  </li>
  <li>
    <code>git push origin :branchName</code>
    <ul>
      <li>Deletes a branch on the remote.</li>
    </ul>
  </li>
  <li>
    <code>git push origin :oldName newName</code>
    <ul>
      <li>Rename the specified branch on the remote.</li>
    </ul>
  </li>
  <li>
    <code>git status</code>
    <ul>
      <li>Check for the git status of all added, removed and otherwise changed files in your current branch.</li>
    </ul>
  </li>
  <li>
    <code>git add path/to/your/file.fileType</code>
    <ul>
      <li>Take changed or added files, and stage them for commit.
        <code>*</code> can be used in place of the file-path if you wish to add every file.</li>
    </ul>
  </li>
  <li>
    <code>git rm path/to/your/file.fileType</code>
    <ul>
      <li>Remove or confirm the removal of files you've deleted locally. This needs to be done for your commit to acknowledge
        their removal.
        <code>*</code> can be used in place of the file-path if you wish to remove every file.</li>
    </ul>
  </li>
  <li>
    <code>git branch</code>
    <ul>
      <li>See what branches are present on your local machine. This is not a fair reflection of all available branches you can
        switch to. For that, see
        <code>git remote show origin</code>.</li>
    </ul>
  </li>
  <li>
    <code>git branch -d branchName</code>
    <ul>
      <li>Remove your branch locally, this does not remove it from the server, use a capital
        <code>D</code> if you want to remove from the server, you can add
        <code>-f</code> if you also want it to ignore the fact that you have changes to commit or clean from that branch before removing
        it.</li>
    </ul>
  </li>
  <li>
    <code>git checkout filePath</code>
    <ul>
      <li>Reverts changes to whichever file is specified.</li>
    </ul>
  </li>
  <li>
    <code>git checkout branchName</code>
    <ul>
      <li>Switch to any other existing branch, this includes branches that exist on the remote that you don't currently have
        kept locally.</li>
    </ul>
  </li>
  <li>
    <code>git checkout -b branchName</code>
    <ul>
      <li>Creates a new branch by the specified name and switches to that branch. You will need to run
        <code>git push --set-upstream origin branchName</code> to place your new branch on the remote.</li>
    </ul>
  </li>
  <li>
    <code>git push --set-upstream origin branchName</code>
    <ul>
      <li>Sets the current branch to the named location on the remote. This usually follows when you create a new branch via
        <code>git checkout -b branchName</code>.</li>
    </ul>
  </li>
  <li>
    <code>git remote show origin</code>
    <ul>
      <li>Shows the status of every branch found on the remote. It will also tell you which of your local branches have an upstream
        set.</li>
    </ul>
  </li>
  <li>
    <code>git clean -fdx</code>
    <ul>
      <li>Removes any files that have changed or been added since your previous commit. It is often followed by
        <code>git reset --hard</code>.</li>
    </ul>
  </li>
  <li>
    <code>git reset --hard</code>
    <ul>
      <li>Often follows
        <code>git clean -fdx</code>. Discards all changes in the working tree since the previous commit.</li>
    </ul>
  </li>
</ul>