<p>
  <mark>Coroutines</mark> are basically time-co-ordinated methods. Most methods, when called, run all of the code within, immediately.
</p>

<p>
  Take a look at this short, yet briefly boggling code.
</p>
  
<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">float</span> currentT = 0;
    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">bool</span> isExpired;
    
    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> Update() &#123;
        <span style="color:#569cd6;">if</span> (currentT <span style="color:#b4b4b4;">&lt;</span> 3) &#123;
            currentT <span style="color:#b4b4b4;">+=</span> <span style="color:#4ec9b0;">Time</span><span style="color:#b4b4b4;">.</span>deltaTime;
        &#125; <span style="color:#569cd6;">else</span> <span style="color:#569cd6;">if</span> (<span style="color:#b4b4b4;">!</span>isExpired) &#123;
            isExpired <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">true</span>;
            <span style="color:#4ec9b0;">Debug</span><span style="color:#b4b4b4;">.</span>Log(<span style="color:#d69d85;">&quot;Time up!&quot;</span>);
        &#125;
    &#125;

</pre>

<p>
    If you knew what this did straight away, you could be familiar with this pattern. If it took you a moment, that's no surprise. What you're seeing is a generic pattern for a timer.
</p>

<p>
    The current time increases each frame until it reaches a value of 3, after informing us about this it sets a variable to prevent this code running ever again.
</p>

<p>
    This is an effective timer, but I'm willing to bet you will have an easier time deciphering what this code does.
</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">void</span> <span style="color:#569cd6;">Start</span>() &#123;
        StartCoroutine(ExampleCoroutine());
    &#125;

    <span style="color:#569cd6;">private</span> <span style="color:#b8d7a3;">IEnumerator</span> ExampleCoroutine() &#123;
        <span style="color:#569cd6;">yield</span> <span style="color:#569cd6;">return</span> <span style="color:#569cd6;">new</span> <span style="color:#4ec9b0;">WaitForSeconds</span>(<span style="color:#b5cea8;">3</span>);
        <span style="color:#4ec9b0;">Debug</span><span style="color:#b4b4b4;">.</span>Log(<span style="color:#d69d85;">&quot;Time up!&quot;</span>);
    &#125;

</pre>

<p>
    Hopefully you can agree that this is a much simpler way of doing the exact same thing. This is called a <mark>coroutine</mark>. There are 3 things that make them unlike typical methods.
</p>

<ul>
    <li>They are declared not as void but as <mark>IEnumerator</mark>.</li>
    <li>Where methods are called simply by their name and paranthesis, coroutines are called using the <mark>StartCoroutine</mark> method which passes the <mark>IEnumerator method</mark> as a parameter.</li>
    <li>The magic component at work here is the <mark>yield</mark> keyword. The pattern will always <mark>return</mark> something. Essentially, the <mark>yield</mark> line is responsible for setting delays in our code.</li>
</ul>

<p>
Take a look at the following ways in which a yield command is used.
</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">private</span> <span style="color:#b8d7a3;">IEnumerator</span> DelayedAction() &#123;
        <span style="color:#4ec9b0;">Debug</span><span style="color:#b4b4b4;">.</span>Log(<span style="color:#d69d85;">&quot;Yield for 2 seconds.&quot;</span>);
        <span style="color:#569cd6;">yield</span> <span style="color:#569cd6;">return</span> <span style="color:#569cd6;">new</span> <span style="color:#4ec9b0;">WaitForSeconds</span>(<span style="color:#b5cea8;">2.0f</span>);

        <span style="color:#4ec9b0;">Debug</span><span style="color:#b4b4b4;">.</span>Log(<span style="color:#d69d85;">&quot;Yield until we press &#39;A&#39;.&quot;</span>);
        <span style="color:#569cd6;">yield</span> <span style="color:#569cd6;">return</span> <span style="color:#569cd6;">new</span> <span style="color:#4ec9b0;">WaitUntil</span>(() <span style="color:#b4b4b4;">=&gt;</span> <span style="color:#4ec9b0;">Input</span><span style="color:#b4b4b4;">.</span>GetKeyDown(<span style="color:#b8d7a3;">KeyCode</span><span style="color:#b4b4b4;">.</span>A));
        <span style="color:#4ec9b0;">Debug</span><span style="color:#b4b4b4;">.</span>Log(<span style="color:#d69d85;">&quot;Yield until we release &#39;A&#39;.&quot;</span>);
        <span style="color:#569cd6;">yield</span> <span style="color:#569cd6;">return</span> <span style="color:#569cd6;">new</span> <span style="color:#4ec9b0;">WaitWhile</span>(() <span style="color:#b4b4b4;">=&gt;</span> <span style="color:#4ec9b0;">Input</span><span style="color:#b4b4b4;">.</span>GetKey(<span style="color:#b8d7a3;">KeyCode</span><span style="color:#b4b4b4;">.</span>A));
        
        <span style="color:#4ec9b0;">Debug</span><span style="color:#b4b4b4;">.</span>Log(<span style="color:#d69d85;">&quot;Another way to yield until we press &#39;A&#39;... Useful when you want to execute code DURING the wait.&quot;</span>);
        <span style="color:#569cd6;">while</span> (<span style="color:#b4b4b4;">!</span><span style="color:#4ec9b0;">Input</span><span style="color:#b4b4b4;">.</span>GetKeyDown(<span style="color:#b8d7a3;">KeyCode</span><span style="color:#b4b4b4;">.</span>A)) &#123;
            <span style="color:#569cd6;">yield</span> <span style="color:#569cd6;">return</span> <span style="color:#569cd6;">null</span>;
        &#125;

        <span style="color:#4ec9b0;">Debug</span><span style="color:#b4b4b4;">.</span>Log(<span style="color:#d69d85;">&quot;Yielding &#39;null&#39; to skip frames for no real reason at all...&quot;</span>);
        <span style="color:#569cd6;">yield</span> <span style="color:#569cd6;">return</span> <span style="color:#569cd6;">null</span>;
        <span style="color:#569cd6;">yield</span> <span style="color:#569cd6;">return</span> <span style="color:#569cd6;">null</span>;
        <span style="color:#569cd6;">yield</span> <span style="color:#569cd6;">return</span> <span style="color:#569cd6;">null</span>;
        <span style="color:#569cd6;">yield</span> <span style="color:#569cd6;">return</span> <span style="color:#569cd6;">null</span>;
        <span style="color:#569cd6;">yield</span> <span style="color:#569cd6;">return</span> <span style="color:#569cd6;">null</span>;
        <span style="color:#569cd6;">yield</span> <span style="color:#569cd6;">return</span> <span style="color:#569cd6;">null</span>;
        <span style="color:#569cd6;">yield</span> <span style="color:#569cd6;">return</span> <span style="color:#569cd6;">null</span>;
        <span style="color:#569cd6;">yield</span> <span style="color:#569cd6;">return</span> <span style="color:#569cd6;">null</span>;
        <span style="color:#569cd6;">yield</span> <span style="color:#569cd6;">return</span> <span style="color:#569cd6;">null</span>;
        <span style="color:#569cd6;">yield</span> <span style="color:#569cd6;">return</span> <span style="color:#569cd6;">null</span>;
        
        <span style="color:#4ec9b0;">Debug</span><span style="color:#b4b4b4;">.</span>Log(<span style="color:#d69d85;">&quot;Yielding &#39;null&#39; again... this time in a for loop...&quot;</span>);
        <span style="color:#569cd6;">for</span> (<span style="color:#569cd6;">int</span> i <span style="color:#b4b4b4;">=</span> <span style="color:#b5cea8;">0</span>; i <span style="color:#b4b4b4;">&lt;</span> <span style="color:#b5cea8;">20</span>; i<span style="color:#b4b4b4;">++</span>) &#123;
            <span style="color:#569cd6;">yield</span> <span style="color:#569cd6;">return</span> <span style="color:#569cd6;">null</span>;
        &#125;

        <span style="color:#4ec9b0;">Debug</span><span style="color:#b4b4b4;">.</span>Log(<span style="color:#d69d85;">&quot;Waiting for another coroutine to complete...&quot;</span>);
        <span style="color:#569cd6;">yield</span> <span style="color:#569cd6;">return</span> StartCoroutine(DelayForNoReason(<span style="color:#b5cea8;">2.0f</span>));
        
        <span style="color:#4ec9b0;">Debug</span><span style="color:#b4b4b4;">.</span>Log(<span style="color:#d69d85;">&quot;All done. Releasing our coroutine availablity again.&quot;</span>);
        corDelayedAction <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">null</span>;
    &#125;

    <span style="color:#569cd6;">private</span> <span style="color:#b8d7a3;">IEnumerator</span> DelayForNoReason(<span style="color:#569cd6;">float</span> _duration) &#123;
        <span style="color:#569cd6;">float</span> t <span style="color:#b4b4b4;">=</span> <span style="color:#b5cea8;">0</span>;

        <span style="color:#569cd6;">while</span> (t <span style="color:#b4b4b4;">&lt;</span> _duration) &#123;
            t <span style="color:#b4b4b4;">+=</span> <span style="color:#4ec9b0;">Time</span><span style="color:#b4b4b4;">.</span>deltaTime;
            <span style="color:#4ec9b0;">Debug</span><span style="color:#b4b4b4;">.</span>Log (<span style="color:#d69d85;">&quot;Other coroutine complete in... &quot;</span> <span style="color:#b4b4b4;">+</span> (duration <span style="color:#b4b4b4;">-</span> t));

            <span style="color:#569cd6;">yield</span> <span style="color:#569cd6;">return</span> <span style="color:#569cd6;">null</span>;
        &#125;
    &#125;

</pre>

<p>If it seems like a lot to take in at once, take a close look at each line. Most of the yield lines are self explanatory.</p>
<p>Two that aren't so obvious here is when we
  <mark>yield return null</mark> and
  <mark>yield return StartCoroutine(DelayForNoReason())</mark>
</p>
<ul>
  <li>
    <b>yield return null</b> simply delays the code for 1 frame, an alternative is
    <mark>yield return 0</mark>.</li>
  <li>
    <b>yield return StartCoroutine()</b> is a clever trick we can use to stall our code until it finishes running another
    coroutine, and THAT coroutine can have any number of delays within it, thus stalling the coroutine that called it.</li>
</ul>
<p>At the end there was something special.
  <mark>corDelayedAction = null</mark>. This variable is used to lock ourcoroutine while it's in use (not null). So we nullify
  the variable at the end of our coroutine to let the system know that it's available for use again. See the following
  example.</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> <span style="color:#569cd6;">Update</span>() &#123;
        <span style="color:#569cd6;">if</span> (<span style="color:#4ec9b0;">Input</span><span style="color:#b4b4b4;">.</span>GetKeyDown(<span style="color:#b8d7a3;">KeyCode</span><span style="color:#b4b4b4;">.</span>Space)) &#123;
            StartCoroutine(Respond());
        &#125;
    &#125;

    <span style="color:#569cd6;">private</span> <span style="color:#b8d7a3;">IEnumerator</span> Respond() &#123;
        <span style="color:#569cd6;">yield</span> <span style="color:#569cd6;">return</span> <span style="color:#569cd6;">new</span> <span style="color:#4ec9b0;">WaitForSeconds</span>(<span style="color:#b5cea8;">3</span>);
        <span style="color:#4ec9b0;">Debug</span><span style="color:#b4b4b4;">.</span>Log(<span style="color:#d69d85;">&quot;Done.&quot;</span>);
    &#125;

</pre>

<p>
    If someone pressed space many times, you would have several of these coroutines firing off after each other, often you just want a user interaction to occur once when they interact with an object, and only able to be interacted with again once it's finished whatever it was doing.
</p>

<p>
    We simply introduce a variable that can tell us if our coroutine is available or not.
</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">private</span> <span style="color:#4ec9b0;">Coroutine</span> corRespond;

    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> <span style="color:#569cd6;">Update</span>() &#123;
        <span style="color:#569cd6;">if</span> (<span style="color:#4ec9b0;">Input</span><span style="color:#b4b4b4;">.</span>GetKeyDown(<span style="color:#b8d7a3;">KeyCode</span><span style="color:#b4b4b4;">.</span>Space) <span style="color:#b4b4b4;">&amp;&amp;</span> corRespond <span style="color:#b4b4b4;">==</span> <span style="color:#569cd6;">null</span>) &#123;
            corRespond <span style="color:#b4b4b4;">=</span> StartCoroutine(Respond());
        &#125;
    &#125;

    <span style="color:#569cd6;">private</span> <span style="color:#b8d7a3;">IEnumerator</span> Respond() &#123;
        <span style="color:#569cd6;">yield</span> <span style="color:#569cd6;">return</span> <span style="color:#569cd6;">new</span> <span style="color:#4ec9b0;">WaitForSeconds</span>(<span style="color:#b5cea8;">3</span>);
        <span style="color:#4ec9b0;">Debug</span><span style="color:#b4b4b4;">.</span>Log(<span style="color:#d69d85;">&quot;Done.&quot;</span>);
        corRespond <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">null</span>;
    &#125;

</pre>

<p>
    Basically <mark>corRespond</mark> is null until we assign our coroutine to it at the same time as running it. Seeing as it isn't null anymore, the if statement won't allow that coroutine to play. When the coroutine has finished, <mark>corRespond</mark> becomes null again, allowing the <mark>if statment</mark> to trigger our coroutine again.
</p>